<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="bg-primary">
    <div class="container">
      <h3 class="text-white font-weight-300 m-b-0">Social Media</h3>
    </div>
  </section>

  <section class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Compontents</a></li>
        <li class="active">Social</li>
      </ol>
    </div>
  </section>

  <section class="btn-demo">
    <div class="container">
      <h5>Social Buttons</h5>
      <p class="m-b-25">Easy to display your social media with buttons. Use <code>.btn-social</code> with <code>.btn-*</code> social name class.</p>
      <a class="btn btn-social btn-facebook" href="#" role="button">Facebook</a>
      <a class="btn btn-social btn-twitter" href="#" role="button">Twitter</a>
      <a class="btn btn-social btn-google-plus" href="#" role="button">Google Plus</a>
      <a class="btn btn-social btn-youtube" href="#" role="button">Youtube</a>
      <a class="btn btn-social btn-linkedin" href="#" role="button">Linkedin</a>
      <a class="btn btn-social btn-skype" href="#" role="button">Skype</a>
      <a class="btn btn-social btn-vk" href="#" role="button">vk</a>
      <a class="btn btn-social btn-twitch" href="#" role="button">Twitch</a>
      <a class="btn btn-social btn-steam" href="#" role="button">Steam</a>
      <a class="btn btn-social btn-dribbble" href="#" role="button">Dribbble</a>
      <a class="btn btn-social btn-vimeo" href="#" role="button">Vimeo</a>
      <a class="btn btn-social btn-pinterest" href="#" role="button">Pinterest</a>
      <a class="btn btn-social btn-instagram" href="#" role="button">Instagram</a>
      <a class="btn btn-social btn-soundcloud" href="#" role="button">Soundcloud</a>
      <a class="btn btn-social btn-spotify" href="#" role="button">Spotify</a>
      <a class="btn btn-social btn-tumblr" href="#" role="button">Tumblr</a>
      <a class="btn btn-social btn-reddit" href="#" role="button">Reddit</a>
      <a class="btn btn-social btn-paypal" href="#" role="button">Paypal</a>
      <a class="btn btn-social btn-rss" href="#" role="button">Feed</a>
      <a class="btn btn-social btn-wordpress" href="#" role="button">Wordpress</a>
      <a class="btn btn-social btn-drupal" href="#" role="button">Drupal</a>
      <a class="btn btn-social btn-joomla" href="#" role="button">Joomla</a>
      <a class="btn btn-social btn-github" href="#" role="button">Github</a>
      <a class="btn btn-social btn-slack" href="#" role="button">Slack</a>
      <a class="btn btn-social btn-windows" href="#" role="button">Windows</a>
      <a class="btn btn-social btn-linux" href="#" role="button">Linux</a>

      <h5 class="m-t-60">Button Icons</h5>
      <p class="m-b-25">It is also possible to display social name with icons just use <code>.btn-icon-alignment</code> class.</p>
      <a class="btn btn-social btn-facebook btn-icon-left" href="#" role="button"><i class="fa fa-facebook"></i> Facebook</a>
      <a class="btn btn-social btn-twitter btn-icon-left" href="#" role="button"><i class="fa fa-twitter"></i> Twitter</a>
      <a class="btn btn-social btn-google-plus btn-icon-left" href="#" role="button"><i class="fa fa-google-plus"></i> Google Plus</a>
      <a class="btn btn-social btn-youtube btn-icon-left" href="#" role="button"><i class="fa fa-youtube"></i> Youtube</a>
      <a class="btn btn-social btn-linkedin btn-icon-left" href="#" role="button"><i class="fa fa-linkedin"></i> Linkedin</a>
      <a class="btn btn-social btn-skype btn-icon-left" href="#" role="button"><i class="fa fa-skype"></i> Skype</a>
      <a class="btn btn-social btn-vk btn-icon-left" href="#" role="button"><i class="fa fa-vk"></i> vk</a>
      <a class="btn btn-social btn-twitch btn-icon-left" href="#" role="button"><i class="fa fa-twitch"></i> Twitch</a>
      <a class="btn btn-social btn-steam btn-icon-left" href="#" role="button"><i class="fa fa-steam"></i> Steam</a>
      <a class="btn btn-social btn-dribbble btn-icon-left" href="#" role="button"><i class="fa fa-dribbble"></i> Dribbble</a>
      <a class="btn btn-social btn-vimeo btn-icon-left" href="#" role="button"><i class="fa fa-vimeo"></i> Vimeo</a>
      <a class="btn btn-social btn-pinterest btn-icon-left" href="#" role="button"><i class="fa fa-pinterest"></i> Pinterest</a>
      <a class="btn btn-social btn-instagram btn-icon-left" href="#" role="button"><i class="fa fa-instagram"></i> Instagram</a>
      <a class="btn btn-social btn-soundcloud btn-icon-left" href="#" role="button"><i class="fa fa-soundcloud"></i> Soundcloud</a>
      <a class="btn btn-social btn-spotify btn-icon-left" href="#" role="button"><i class="fa fa-spotify"></i> Spotify</a>
      <a class="btn btn-social btn-tumblr btn-icon-left" href="#" role="button"><i class="fa fa-tumblr"></i> Tumblr</a>
      <a class="btn btn-social btn-reddit btn-icon-left" href="#" role="button"><i class="fa fa-reddit"></i> Reddit</a>
      <a class="btn btn-social btn-paypal btn-icon-left" href="#" role="button"><i class="fa fa-paypal"></i> Paypal</a>
      <a class="btn btn-social btn-rss btn-icon-left" href="#" role="button"><i class="fa fa-rss"></i> Feed</a>
      <a class="btn btn-social btn-wordpress btn-icon-left" href="#" role="button"><i class="fa fa-wordpress"></i> Wordpress</a>
      <a class="btn btn-social btn-drupal btn-icon-left" href="#" role="button"><i class="fa fa-drupal"></i> Drupal</a>
      <a class="btn btn-social btn-joomla btn-icon-left" href="#" role="button"><i class="fa fa-joomla"></i> Joomla</a>
      <a class="btn btn-social btn-github btn-icon-left" href="#" role="button"><i class="fa fa-github"></i> Github</a>
      <a class="btn btn-social btn-slack btn-icon-left" href="#" role="button"><i class="fa fa-slack"></i> Slack</a>
      <a class="btn btn-social btn-windows btn-icon-left" href="#" role="button"><i class="fa fa-windows"></i> Windows</a>
      <a class="btn btn-social btn-linux btn-icon-left" href="#" role="button"><i class="fa fa-linux"></i> Linux</a>

      <h5 class="m-t-60">Social Icons</h5>
      <p class="m-b-25">If you would like to display only the icon then use <code>.btn-icon</code> class without social name.</p>
      <a class="btn btn-social btn-facebook btn-icon" href="#" role="button"><i class="fa fa-facebook"></i></a>
      <a class="btn btn-social btn-twitter btn-icon" href="#" role="button"><i class="fa fa-twitter"></i></a>
      <a class="btn btn-social btn-google-plus btn-icon" href="#" role="button"><i class="fa fa-google-plus"></i></a>
      <a class="btn btn-social btn-youtube btn-icon" href="#" role="button"><i class="fa fa-youtube"></i></a>
      <a class="btn btn-social btn-linkedin btn-icon" href="#" role="button"><i class="fa fa-linkedin"></i></a>
      <a class="btn btn-social btn-skype btn-icon" href="#" role="button"><i class="fa fa-skype"></i></a>
      <a class="btn btn-social btn-vk btn-icon" href="#" role="button"><i class="fa fa-vk"></i></a>
      <a class="btn btn-social btn-twitch btn-icon" href="#" role="button"><i class="fa fa-twitch"></i></a>
      <a class="btn btn-social btn-steam btn-icon" href="#" role="button"><i class="fa fa-steam"></i></a>
      <a class="btn btn-social btn-dribbble btn-icon" href="#" role="button"><i class="fa fa-dribbble"></i></a>
      <a class="btn btn-social btn-vimeo btn-icon" href="#" role="button"><i class="fa fa-vimeo"></i></a>
      <a class="btn btn-social btn-pinterest btn-icon" href="#" role="button"><i class="fa fa-pinterest"></i></a>
      <a class="btn btn-social btn-instagram btn-icon" href="#" role="button"><i class="fa fa-instagram"></i></a>
      <a class="btn btn-social btn-soundcloud btn-icon" href="#" role="button"><i class="fa fa-soundcloud"></i></a>
      <a class="btn btn-social btn-spotify btn-icon" href="#" role="button"><i class="fa fa-spotify"></i></a>
      <a class="btn btn-social btn-tumblr btn-icon" href="#" role="button"><i class="fa fa-tumblr"></i></a>
      <a class="btn btn-social btn-reddit btn-icon" href="#" role="button"><i class="fa fa-reddit"></i></a>
      <a class="btn btn-social btn-paypal btn-icon" href="#" role="button"><i class="fa fa-paypal"></i></a>
      <a class="btn btn-social btn-rss btn-icon" href="#" role="button"><i class="fa fa-rss"></i></a>
      <a class="btn btn-social btn-wordpress btn-icon" href="#" role="button"><i class="fa fa-wordpress"></i></a>
      <a class="btn btn-social btn-drupal btn-icon" href="#" role="button"><i class="fa fa-drupal"></i></a>
      <a class="btn btn-social btn-joomla btn-icon" href="#" role="button"><i class="fa fa-joomla"></i></a>
      <a class="btn btn-social btn-github btn-icon" href="#" role="button"><i class="fa fa-github"></i></a>
      <a class="btn btn-social btn-slack btn-icon" href="#" role="button"><i class="fa fa-slack"></i></a>
      <a class="btn btn-social btn-windows btn-icon" href="#" role="button"><i class="fa fa-windows"></i></a>
      <a class="btn btn-social btn-linux btn-icon" href="#" role="button"><i class="fa fa-linux"></i></a>

      <h5 class="m-t-60">Social Effects</h5>
      <p class="m-b-25">Use <code>.btn-default</code> class to display it with dark background by default and use <code>.btn-effect</code> to add effect but don't forget to duplicate the icon.</p>
      <a class="btn btn-social btn-facebook btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-facebook"></i><i class="fa fa-facebook"></i></a>
      <a class="btn btn-social btn-twitter btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-twitter"></i><i class="fa fa-twitter"></i></a>
      <a class="btn btn-social btn-google-plus btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-google-plus"></i><i class="fa fa-google-plus"></i></a>
      <a class="btn btn-social btn-youtube btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-youtube"></i><i class="fa fa-youtube"></i></a>
      <a class="btn btn-social btn-linkedin btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-linkedin"></i><i class="fa fa-linkedin"></i></a>
      <a class="btn btn-social btn-skype btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-skype"></i><i class="fa fa-skype"></i></a>
      <a class="btn btn-social btn-vk btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-vk"></i><i class="fa fa-vk"></i></a>
      <a class="btn btn-social btn-twitch btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-twitch"></i><i class="fa fa-twitch"></i></a>
      <a class="btn btn-social btn-steam btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-steam"></i><i class="fa fa-steam"></i></a>
      <a class="btn btn-social btn-dribbble btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-dribbble"></i><i class="fa fa-dribbble"></i></a>
      <a class="btn btn-social btn-vimeo btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-vimeo"></i><i class="fa fa-vimeo"></i></a>
      <a class="btn btn-social btn-pinterest btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-pinterest"></i><i class="fa fa-pinterest"></i></a>
      <a class="btn btn-social btn-instagram btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-instagram"></i><i class="fa fa-instagram"></i></a>
      <a class="btn btn-social btn-soundcloud btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-soundcloud"></i><i class="fa fa-soundcloud"></i></a>
      <a class="btn btn-social btn-spotify btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-spotify"></i><i class="fa fa-spotify"></i></a>
      <a class="btn btn-social btn-tumblr btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-tumblr"></i><i class="fa fa-tumblr"></i></a>
      <a class="btn btn-social btn-reddit btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-reddit"></i><i class="fa fa-reddit"></i></a>
      <a class="btn btn-social btn-paypal btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-paypal"></i><i class="fa fa-paypal"></i></a>
      <a class="btn btn-social btn-rss btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-rss"></i><i class="fa fa-rss"></i></a>
      <a class="btn btn-social btn-wordpress btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-wordpress"></i><i class="fa fa-wordpress"></i></a>
      <a class="btn btn-social btn-drupal btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-drupal"></i><i class="fa fa-drupal"></i></a>
      <a class="btn btn-social btn-joomla btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-joomla"></i><i class="fa fa-joomla"></i></a>
      <a class="btn btn-social btn-github btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-github"></i><i class="fa fa-github"></i></a>
      <a class="btn btn-social btn-slack btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-slack"></i><i class="fa fa-slack"></i></a>
      <a class="btn btn-social btn-windows btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-windows"></i><i class="fa fa-windows"></i></a>
      <a class="btn btn-social btn-linux btn-icon btn-default btn-effect" href="#" role="button"><i class="fa fa-linux"></i><i class="fa fa-linux"></i></a>

      <h5 class="m-t-60">Rounded Icons</h5>
      <p class="m-b-25">Add the <code>.btn-icon-circle</code> class to display your icon in a circle.</p>
      <a class="btn btn-social btn-facebook btn-icon-circle" href="#" role="button"><i class="fa fa-facebook"></i></a>
      <a class="btn btn-social btn-twitter btn-icon-circle" href="#" role="button"><i class="fa fa-twitter"></i></a>
      <a class="btn btn-social btn-google-plus btn-icon-circle" href="#" role="button"><i class="fa fa-google-plus"></i></a>
      <a class="btn btn-social btn-youtube btn-icon-circle" href="#" role="button"><i class="fa fa-youtube"></i></a>
      <a class="btn btn-social btn-linkedin btn-icon-circle" href="#" role="button"><i class="fa fa-linkedin"></i></a>
      <a class="btn btn-social btn-skype btn-icon-circle" href="#" role="button"><i class="fa fa-skype"></i></a>
      <a class="btn btn-social btn-vk btn-icon-circle" href="#" role="button"><i class="fa fa-vk"></i></a>
      <a class="btn btn-social btn-twitch btn-icon-circle" href="#" role="button"><i class="fa fa-twitch"></i></a>
      <a class="btn btn-social btn-steam btn-icon-circle" href="#" role="button"><i class="fa fa-steam"></i></a>
      <a class="btn btn-social btn-dribbble btn-icon-circle" href="#" role="button"><i class="fa fa-dribbble"></i></a>
      <a class="btn btn-social btn-vimeo btn-icon-circle" href="#" role="button"><i class="fa fa-vimeo"></i></a>
      <a class="btn btn-social btn-pinterest btn-icon-circle" href="#" role="button"><i class="fa fa-pinterest"></i></a>
      <a class="btn btn-social btn-instagram btn-icon-circle" href="#" role="button"><i class="fa fa-instagram"></i></a>
      <a class="btn btn-social btn-soundcloud btn-icon-circle" href="#" role="button"><i class="fa fa-soundcloud"></i></a>
      <a class="btn btn-social btn-spotify btn-icon-circle" href="#" role="button"><i class="fa fa-spotify"></i></a>
      <a class="btn btn-social btn-tumblr btn-icon-circle" href="#" role="button"><i class="fa fa-tumblr"></i></a>
      <a class="btn btn-social btn-reddit btn-icon-circle" href="#" role="button"><i class="fa fa-reddit"></i></a>
      <a class="btn btn-social btn-paypal btn-icon-circle" href="#" role="button"><i class="fa fa-paypal"></i></a>
      <a class="btn btn-social btn-rss btn-icon-circle" href="#" role="button"><i class="fa fa-rss"></i></a>
      <a class="btn btn-social btn-wordpress btn-icon-circle" href="#" role="button"><i class="fa fa-wordpress"></i></a>
      <a class="btn btn-social btn-drupal btn-icon-circle" href="#" role="button"><i class="fa fa-drupal"></i></a>
      <a class="btn btn-social btn-joomla btn-icon-circle" href="#" role="button"><i class="fa fa-joomla"></i></a>
      <a class="btn btn-social btn-github btn-icon-circle" href="#" role="button"><i class="fa fa-github"></i></a>
      <a class="btn btn-social btn-slack btn-icon-circle" href="#" role="button"><i class="fa fa-slack"></i></a>
      <a class="btn btn-social btn-windows btn-icon-circle" href="#" role="button"><i class="fa fa-windows"></i></a>
      <a class="btn btn-social btn-linux btn-icon-circle" href="#" role="button"><i class="fa fa-linux"></i></a>

      <h5 class="m-t-60">Link Icons</h5>
      <p class="m-b-25">Sometimes just need to display the icon as default link then add <code>.btn-link</code> class to your element.</p>
      <a class="btn btn-social btn-facebook btn-link" href="#" role="button"><i class="fa fa-facebook"></i></a>
      <a class="btn btn-social btn-twitter btn-link" href="#" role="button"><i class="fa fa-twitter"></i></a>
      <a class="btn btn-social btn-google-plus btn-link" href="#" role="button"><i class="fa fa-google-plus"></i></a>
      <a class="btn btn-social btn-youtube btn-link" href="#" role="button"><i class="fa fa-youtube"></i></a>
      <a class="btn btn-social btn-linkedin btn-link" href="#" role="button"><i class="fa fa-linkedin"></i></a>
      <a class="btn btn-social btn-skype btn-link" href="#" role="button"><i class="fa fa-skype"></i></a>
      <a class="btn btn-social btn-vk btn-link" href="#" role="button"><i class="fa fa-vk"></i></a>
      <a class="btn btn-social btn-twitch btn-link" href="#" role="button"><i class="fa fa-twitch"></i></a>
      <a class="btn btn-social btn-steam btn-link" href="#" role="button"><i class="fa fa-steam"></i></a>
      <a class="btn btn-social btn-dribbble btn-link" href="#" role="button"><i class="fa fa-dribbble"></i></a>
      <a class="btn btn-social btn-vimeo btn-link" href="#" role="button"><i class="fa fa-vimeo"></i></a>
      <a class="btn btn-social btn-pinterest btn-link" href="#" role="button"><i class="fa fa-pinterest"></i></a>
      <a class="btn btn-social btn-instagram btn-link" href="#" role="button"><i class="fa fa-instagram"></i></a>
      <a class="btn btn-social btn-soundcloud btn-link" href="#" role="button"><i class="fa fa-soundcloud"></i></a>
      <a class="btn btn-social btn-spotify btn-link" href="#" role="button"><i class="fa fa-spotify"></i></a>
      <a class="btn btn-social btn-tumblr btn-link" href="#" role="button"><i class="fa fa-tumblr"></i></a>
      <a class="btn btn-social btn-reddit btn-link" href="#" role="button"><i class="fa fa-reddit"></i></a>
      <a class="btn btn-social btn-paypal btn-link" href="#" role="button"><i class="fa fa-paypal"></i></a>
      <a class="btn btn-social btn-rss btn-link" href="#" role="button"><i class="fa fa-rss"></i></a>
      <a class="btn btn-social btn-wordpress btn-link" href="#" role="button"><i class="fa fa-wordpress"></i></a>
      <a class="btn btn-social btn-drupal btn-link" href="#" role="button"><i class="fa fa-drupal"></i></a>
      <a class="btn btn-social btn-joomla btn-link" href="#" role="button"><i class="fa fa-joomla"></i></a>
      <a class="btn btn-social btn-github btn-link" href="#" role="button"><i class="fa fa-github"></i></a>
      <a class="btn btn-social btn-slack btn-link" href="#" role="button"><i class="fa fa-slack"></i></a>
      <a class="btn btn-social btn-windows btn-link" href="#" role="button"><i class="fa fa-windows"></i></a>
      <a class="btn btn-social btn-linux btn-link" href="#" role="button"><i class="fa fa-linux"></i></a>

      <div class="row m-t-60">
        <div class="col-6">
          <h5>Social Sizes</h5>
          <p class="m-b-25">Add <code>.btn-lg</code>, <code>.btn-sm</code> or <code>.btn-xs</code> to display your button with different sizes.</p>
          <a class="btn btn-social btn-facebook btn-icon-circle btn-lg" href="#" role="button"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social btn-facebook btn-icon-circle" href="#" role="button"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social btn-facebook btn-icon-circle btn-sm" href="#" role="button"><i class="fa fa-facebook"></i></a>
          <a class="btn btn-social btn-facebook btn-icon-circle btn-xs" href="#" role="button"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="col-6">
          <h5>Social Share</h5>
          <p class="m-b-25">Count your likes and display it as a share button in <code>.social-share</code> div.</p>
          <div class="social-share">
            <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Share on Facebook" data-placement="bottom" role="button"><i class="fa fa-facebook"></i></a>
            <span>5.345k</span>
            <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Share on Twitter" data-placement="bottom" role="button"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Share on Google Plus" data-placement="bottom" role="button"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>

      <h5 class="m-t-60">Social Blocks</h5>
      <p class="m-b-25">Use <code>.btn-block</code> to set your button icon to full width. It can be useful at login or register page.</p>
      <div class="row row-5">
        <div class="col-lg-3">
          <a class="btn btn-social btn-facebook btn-block" href="#" role="button"><i class="fa fa-facebook"></i> connect with facebook</a>
        </div>
        <div class="col-lg-3">
          <a class="btn btn-social btn-twitter btn-block" href="#" role="button"><i class="fa fa-twitter"></i> connect with twitter</a>
        </div>
        <div class="col-lg-3">
          <a class="btn btn-social btn-google-plus btn-block" href="#" role="button"><i class="fa fa-google-plus"></i> connect with google plus</a>
        </div>
        <div class="col-lg-3">
          <a class="btn btn-social btn-github btn-block" href="#" role="button"><i class="fa fa-github"></i> connect with github</a>
        </div>
      </div>

    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- plugins js -->
  <script type="text/javascript">
    // Copy Component
    function copy(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).clone().wrap('<p>').parent().html()).select();
      document.execCommand("copy");
      $temp.remove();
      $(element).wrap("<span></span>");
      $(element).parent().append('<div class="notification animated fadeInDown fast"><div class="alert alert-info">Component copied to clipboard!</div></div>');

      setTimeout(function() {
        $(element).parent().find('.notification').removeClass('fadeInDown');
        $(element).parent().find('.notification').addClass('fadeOutUp');
      }, 2000);

      setTimeout(function() {
        $(element).parent().find('.notification').remove();
        $(element).unwrap();
      }, 4000);
    }

    (function($) {
      "use strict";
      $('.btn').click(function() {
        copy(this);
        return false;
      });
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js" %}"></script>
</body>
</html>
