<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="bg-primary">
    <div class="container">
      <h3 class="text-white font-weight-300 m-b-0">Widgets</h3>
    </div>
  </section>

  <section class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Compontents</a></li>
        <li class="active">Widgets</li>
      </ol>
    </div>
  </section>

  <section>
    <div class="container">
      <h5>Widgets</h5>
      <p>Gameforest is including custom widgets like post lists, game and game lists. You can use everywhere these widgets in the theme.</p>
      <div class="row m-t-30">
        <div class="col-lg-4">
          <!-- widget game -->
          <div class="widget widget-game">
            <div class="widget-block" style="background-image: url('https://img.youtube.com/vi/U75Qkzc2tqA/maxresdefault.jpg')">
              <div class="overlay"></div>
              <div class="widget-item">
                <h4>The Witcher 3: Wild Hunt</h4>
                <span class="meta">Released: May 18, 2015</span>

                <h5>Platforms</h5>
                <a href="#"><span class="badge badge-xbox-one">Xbox One</span></a>
                <a href="#"><span class="badge badge-ps4">Ps4</span></a>
                <a href="#"><span class="badge badge-steam">Steam</span></a>

                <h5>Developed</h5>
                <ul>
                  <li><a href="#">CD Projekt Red Studio</a></li>
                  <li><a href="#">CD Projekt S.A.</a></li>
                </ul>

                <h5>Published</h5>
                <ul>
                  <li><a href="#">Warner Bros. Interactive Entertainment</a></li>
                  <li><a href="#">CD Projekt RED S.A.</a></li>
                  <li><a href="#">Bandai Games</a></li>
                </ul>
                <p>The Witcher 3: Wild Hunt is a story-driven, next-generation open world role-playing game, set in a visually stunning fantasy universe, full of meaningful choices and impactful consequences.</p>
                <button type="submit" class="btn btn-outline-default btn-block">Follow Now <i class="fa fa-heart-o"></i></button>
              </div>
            </div>
          </div>
          <!-- widget post -->
          <div class="widget widget-post">
            <h5 class="widget-title">Recommended</h5>
            <a href="blog-post.html">
            <img src="https://i1.ytimg.com/vi/2fgU8cYrANs/mqdefault.jpg" alt="">
          </a>
            <h4>
              <a href="blog-post.html">The Witcher Book Author Doesn't Profit From the Games</a>
            </h4>
            <span><i class="fa fa-clock-o"></i> November 16, 2017</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed ante facilisis efficitur.</p>
            <ul class="widget-list">
              <li>
                <div class="widget-img">
                  <a href="blog-post.html">
                  <img src="{% static "img/blog/blog-widget-1.jpg" %}" alt="">
                </a>
                </div>
                <div>
                  <h4>
                    <a href="blog-post.html">Dead Island 2 and Escape Impressions</a>
                  </h4>
                  <span>June 16, 2017</span>
                </div>
              </li>
              <li>
                <div class="widget-img">
                  <a href="blog-post.html">
                  <img src="{% static "img/blog/blog-widget-2.jpg" %}" alt="">
                </a>
                </div>
                <div>
                  <h4>
                    <a href="blog-post.html">How to Finish Mafia 3 With All of Your Underbosses</a>
                  </h4>
                  <span>May 30, 2017</span>
                </div>
              </li>
              <li>
                <div class="widget-img">
                  <a href="blog-post.html">
                  <img src="{% static "img/blog/blog-widget-3.jpg" %}" alt="">
                </a>
                </div>
                <div>
                  <h4>
                    <a href="blog-post.html">Spider-Man Spin-Off, Venom, Gets Release Date</a>
                  </h4>
                  <span>June 10, 2017</span>
                </div>
              </li>
              <li>
                <div class="widget-img">
                  <a href="blog-post.html">
                  <img src="{% static "img/blog/blog-widget-4.jpg" %}" alt="">
                </a>
                </div>
                <div>
                  <h4>
                    <a href="blog-post.html">Is Ghost Recon: Wildlands Worth Your Time?</a>
                  </h4>
                  <span>June 16, 2017</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- widget about -->
          <div class="widget widget-about m-t-0">
            <h5 class="widget-title">About Me</h5>
            <p>I am a frontend developer &amp; web designer. I love to work on creative and standalone projects like gameforest.</p>
            <ul>
              <li><i class="fa fa-clock-o"></i> Joined December 2009</li>
              <li><i class="fa fa-map-marker"></i> United Kingdom</li>
              <li><a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank"><i class="fa fa-chain-broken"></i> Gameforest</a></li>
              <li><a href="https://www.facebook.com/yakuthemes" target="_blank"><i class="fa fa-facebook"></i> yakuthemes</a></li>
            </ul>
          </div>
          <div class="row">
            <div class="col-lg-9">
              <!-- widget friends -->
              <div class="widget widget-friends">
                <h5 class="widget-title">Friends <span>(628)</span></h5>
                <ul>
                  <li><a href="#" data-toggle="tooltip" title="Elizabeth"><img src="{% static "img/widget/widget-user-1.jpg" %}" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Clark"><img src="{% static "img/widget/widget-user-2.jpg" %}" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Trevor"><img src="{% static "img/widget/widget-user-3.jpg" %}" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Franklin"><img src="{% static "img/widget/widget-user-4.jpg" %}" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="John"><img src="{% static "img/widget/widget-user-5.jpg" %}" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Bruce"><img src="{% static "img/widget/widget-user-6.jpg" %}" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Sherlock"><img src="{% static "img/widget/widget-user-7.jpg" %}" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Clara"><img src="{% static "img/widget/widget-user-8.jpg" %}" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- widget-games -->
          <div class="widget widget-games">
            <a href="#" style="background-image: url('https://i1.ytimg.com/vi/mW4LMCtoIkg/mqdefault.jpg')">
            <span class="overlay"></span>
            <div class="widget-block">
              <div class="count">1</div>
              <div class="description">
                <h5 class="title">Horizon: Zero Dawn The Frozen Wilds</h5>
                <span class="date">Nov 14, 2017</span>
              </div>
            </div>
          </a>
            <a href="#" style="background-image: url('https://i1.ytimg.com/vi/GaERL8Nrl9k/mqdefault.jpg')">
            <span class="overlay"></span>
            <div class="widget-block">
              <div class="count">2</div>
              <div class="description">
                <h5 class="title">Tom Clancy's Ghost Recon: Wildlands</h5>
                <span class="date">Aug 29, 2017</span>
              </div>
            </div>
          </a>
            <a href="#" style="background-image: url('https://i1.ytimg.com/vi/feqIj5PaqCQ/mqdefault.jpg')">
            <span class="overlay"></span>
            <div class="widget-block">
              <div class="count">3</div>
              <div class="description">
                <h5 class="title">Call of Duty WW2</h5>
                <span class="date">Dec 15, 2017</span>
              </div>
            </div>
          </a>
            <a href="#" style="background-image: url('https://i.ytimg.com/vi/N1NsF9c90f0/mqdefault.jpg')">
            <span class="overlay"></span>
            <div class="widget-block">
              <div class="count">4</div>
              <div class="description">
                <h5 class="title">Final Fantasy VII</h5>
                <span class="date">Q3 2018</span>
              </div>
            </div>
          </a>
            <a href="#" style="background-image: url('https://i1.ytimg.com/vi/xUGRjNzGz3o/mqdefault.jpg')">
            <span class="overlay"></span>
            <div class="widget-block">
              <div class="count">5</div>
              <div class="description">
                <h5 class="title">Mass Effect Andromeda</h5>
                <span class="date">Q1, 2018</span>
              </div>
            </div>
          </a>
          </div>
          <!-- widget facebook -->
          <div class="widget">
            <h5 class="widget-title">Follow Us on Facebook</h5>
            <div id="fb-root"></div>
            <script async="" src="https://www.google-analytics.com/analytics.js"></script>
            <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8"></script>
            <script>
              (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>
            <div class="fb-page" data-href="https://www.facebook.com/yakuthemes" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
          </div>

          <!-- Widget Images -->
          <div class="widget widget-images">
            <h5 class="widget-title">Images</h5>
            <ul>
              <li><a href="#"><img src="{% static "img/widget/widget-images-1.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-2.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-3.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-4.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-5.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-6.jpg" %}" alt=""></a></li>
            </ul>
            <a class="" href="#" role="button"></a>
          </div>

          <!-- widget gallery -->
          <div class="widget widget-gallery">
            <h5 class="widget-title">Galleries</h5>
            <ul>
              <li>
                <a href="/gallery/witcher-3" data-src="{% static "/img/gallery/gallery-lightbox-1.jpg" %}" data-disqus="true" data-lightbox="gallery">
                <img src="https://i1.ytimg.com/vi/uRCS8JLPLfs/mqdefault.jpg" alt="">
              </a>
              </li>
              <li>
                <a href="/gallery/witcher-3/geralt" data-src="https://i1.ytimg.com/vi/dPCPRtEf5IU/maxresdefault.jpg" data-disqus="true" data-lightbox="gallery">
                <img src="https://i1.ytimg.com/vi/dPCPRtEf5IU/mqdefault.jpg" alt="">
              </a>
              </li>
              <li>
                <a href="/gallery/witcher-3/boss-fight" data-src="https://i1.ytimg.com/vi/kZb9gnrnxS0/maxresdefault.jpg" data-disqus="true" data-lightbox="gallery">
                <img src="https://i1.ytimg.com/vi/kZb9gnrnxS0/mqdefault.jpg" alt="">
              </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- widget video -->
          <div class="widget widget-video">
            <h5 class="widget-title">New Video</h5>
            <div class="widget-img">
              <a href="blog-post-video.html">
              <img src="https://i1.ytimg.com/vi/neIfY3VoPXo/mqdefault.jpg" alt="">
            </a>
              <span>2:49</span>
              <a class="video-play-icon" href="blog-post-video.html">
              <i class="fa fa-play"></i>
            </a>
            </div>
            <h4>
              <a href="blog-post-video.html">The Witcher 3: Wild Hunt The Sword Of Destiny Gameplay Trailer</a>
            </h4>
            <span><i class="fa fa-clock-o"></i> June 12, 2017</span>
            <span><i class="fa fa-eye"></i> 723x</span>
          </div>

          <!-- widget newsletter -->
          <div class="widget widget-newsletter">
            <div class="widget-block" style="background-image: url('{% static 'img/widget/widget-newsletter.jpg' %}')">
              <div class="overlay"></div>
              <form>
                <p>Get notification when new games are available on gameforest.</p>
                <div class="form-group input-icon-right">
                  <input type="email" class="form-control" placeholder="Email address...">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
              </form>
            </div>
          </div>

          <!-- widget tabs -->
          <div class="widget widget-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" href="#comment" aria-controls="comments" role="tab" data-toggle="tab"><i class="fa fa-comment-o"></i> Comments</a></li>
              <li class="nav-item"><a class="nav-link" href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular</a></li>
              <li class="nav-item"><a class="nav-link" href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="comment">
                <ul class="widget-comments">
                  <li>
                    <div><a href="profile.html"><img src="{% static "img/user/user-2.jpg" %}" alt=""></a></div>
                    <div><a href="blog-post.html#comments"><b>Elizabeth:</b> It would have taken a ridiculous amount of careful precise actions.</a></div>
                  </li>
                  <li>
                    <div><a href="profile.html"><img src="{% static "img/user/user-3.jpg" %}" alt=""></a></div>
                    <div><a href="blog-post-disqus.html#comments"><b>Clark:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur risque.</a></div>
                  </li>
                  <li>
                    <div><a href="profile.html"><img src="{% static "img/user/user-1.jpg" %}" alt=""></a></div>
                    <div><a href="blog-post-video.html#comments"><b>Venom:</b> Practically no verticality, which on levels like The Spire (Geonosis) incredible.</a></div>
                  </li>
                  <li>
                    <div><a href="profile.html"><img src="{% static "img/user/user-3.jpg" %}" alt=""></a></div>
                    <div><a href="blog-post-disqus.html#comments"><b>Clark:</b> I'm low level at this point and have almost nothing unlocked, and veteran players have an unfair advantage over me thanks.</a></div>
                  </li>
                  <li>
                    <div><a href="profile.html"><img src="{% static "img/user/user-5.jpg" %}" alt=""></a></div>
                    <div><a href="blog-post-disqus.html#comments"><b>Trevor:</b> A lot of people would have stopped playing now if it wasn't for the online stuff!</a></div>
                  </li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="popular">
                <div class="widget-post">
                  <ul class="widget-list">
                    <li>
                      <img src="https://i1.ytimg.com/vi/B6qY-P4eo1Q/mqdefault.jpg" alt="">
                      <h4><a href="blog-post.html">How to Finish Mafia 3 With All of Your Underbosses</a></h4>
                      <span><i class="fa fa-clock-o"></i> July 12, 2017</span>
                      <span>19 comments</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed anter.</p>
                    </li>
                    <li>
                      <h4><a href="blog-post.html">Uncharted: The Lost Legacy's Demo</a></h4>
                      <span>June 28, 2017</span>
                      <span>41 comments</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed anter.</p>
                    </li>
                    <li>
                      <h4><a href="blog-post.html">Mafia III Stones Unturned DLC Launch Trailer</a></h4>
                      <span>June 17, 2017</span>
                      <span>7 comments</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed anter.</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="recent">
                <div class="widget-post">
                  <ul class="widget-list">
                    <li>
                      <img src="https://i1.ytimg.com/vi/ckUrcdnWZ2g/mqdefault.jpg" alt="">
                      <h4><a href="blog-post.html">Free Mass Effect: Andromeda Trial Now Available On All Platforms</a></h4>
                      <span><i class="fa fa-clock-o"></i> July 12, 2017</span>
                      <span>76 comments</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed anter.</p>
                    </li>
                    <li>
                      <h4><a href="blog-post.html">GTA 5 Online Players Find Secret Alien Mission</a></h4>
                      <span>June 23, 2017</span>
                      <span>34 comments</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed anter.</p>
                    </li>
                    <li>
                      <h4><a href="blog-post.html">Mafia III Stones Unturned DLC Launch Trailer</a></h4>
                      <span>June 17, 2017</span>
                      <span>7 comments</span>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed anter.</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- widget tags -->
          <div class="widget widget-tags">
            <h5 class="widget-title">Popular Tags</h5>
            <div class="post-tags">
              <a href="#">#playstation 4</a>
              <a href="#">#remastered</a>
              <a href="#">#uncharted</a>
              <a href="#">#game</a>
              <a href="#">#blood and wine</a>
              <a href="#">#games</a>
            </div>
          </div>

          <!-- Widget Forums -->
          <div class="widget widget-forums">
            <h5 class="widget-title">Recent Forums</h5>
            <ul>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-comment-o"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">What is your favorite game?</a></h5>
                  <span>5 weeks ago</span>
                </div>
              </li>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-comment-o"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">Battlefield 1 multiplayer</a></h5>
                  <span>1 month ago</span>
                </div>
              </li>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-bug"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">Uncharted 4 Bug Reports</a></h5>
                  <span>July 20, 2017</span>
                </div>
              </li>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-envelope-open-o"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">Days Gone is a promising game</a></h5>
                  <span>July 10, 2017</span>
                </div>
              </li>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-comment-o"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">Q: Black Friday Playstation Sale</a></h5>
                  <span>July 09, 2017</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js"  %}"></script>
</body>
</html>
