<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="bg-primary">
    <div class="container">
      <h3 class="text-white font-weight-300 m-b-0">Form Layouts</h3>
    </div>
  </section>

  <section class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Compontents</a></li>
        <li class="active">Form Layouts</li>
      </ol>
    </div>
  </section>

  <section>
    <div class="container">
      <h5>Login Form</h5>
      <p>Use login form to handle user authentication. Add your custom component like social button, checkbox or inputs.</p>
      <div class="row m-t-30">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"><i class="fa fa-sign-in"></i> Login to your account</h4>
            </div>
            <div class="card-block">
              <form action="profile.html">
                <a class="btn btn-social btn-facebook btn-block btn-icon-left" href="" role="button"><i class="fa fa-facebook"></i> Connect with Facebook</a>
                <div class="divider">
                  <span>or</span>
                </div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-user"></i>
                  <input type="email" class="form-control form-control-secondary" placeholder="Username">
                </div>
                <div class="form-group input-icon-left m-b-15">
                  <i class="fa fa-lock"></i>
                  <input type="password" class="form-control form-control-secondary" placeholder="Password">
                </div>
                <label class="custom-control custom-checkbox custom-checkbox-primary">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Remember me</span>
              </label>
                <button type="submit" class="btn btn-primary btn-block m-t-10">Login <i class="fa fa-sign-in"></i></button>
                <div class="divider">
                  <span>Don't have an account?</span>
                </div>
                <a class="btn btn-secondary btn-block" href="register.html" role="button">Register</a>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form action="profile.html">
            <a class="btn btn-social btn-facebook btn-block btn-icon-left" href="" role="button"><i class="fa fa-facebook"></i> Connect with Facebook</a>
            <div class="divider">
              <span>or</span>
            </div>
            <div class="form-group input-icon-left m-b-10">
              <i class="fa fa-user"></i>
              <input type="email" class="form-control" placeholder="Username">
            </div>
            <div class="form-group input-icon-left m-b-15">
              <i class="fa fa-lock"></i>
              <input type="password" class="form-control" placeholder="Password">
            </div>
            <label class="custom-control custom-checkbox custom-checkbox-primary">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Remember me</span>
          </label>
            <button type="submit" class="btn btn-primary btn-block m-t-10">Login <i class="fa fa-sign-in"></i></button>
            <div class="divider">
              <span>Don't have an account?</span>
            </div>
            <a class="btn btn-default btn-block" href="register.html" role="button">Register</a>
          </form>
        </div>
      </div>

      <div class="row m-t-30">
        <div class="col-lg-4">
          <h5>Registration Form</h5>
          <p class="m-b-30">Easy to create and use registration forms.</p>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"><i class="fa fa-user-plus"></i> Register a new account</h4>
            </div>
            <div class="card-block">
              <form action="profile.html">
                <a class="btn btn-social btn-google-plus btn-block btn-icon-left" href="" role="button"><i class="fa fa-google-plus"></i> Register with Google Plus</a>
                <div class="divider"><span>or</span></div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-user"></i>
                  <input type="text" class="form-control form-control-secondary" placeholder="Username">
                </div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-envelope"></i>
                  <input type="email" class="form-control form-control-secondary" placeholder="Email Address">
                </div>
                <div class="divider"><span>Security</span></div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-lock"></i>
                  <input type="password" class="form-control form-control-secondary" placeholder="Password">
                </div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-unlock"></i>
                  <input type="password" class="form-control form-control-secondary" placeholder="Repeat Password">
                </div>
                <div class="divider"><span>I am not a robot</span></div>
                <div class="g-recaptcha-outer">
                  <script src='https://www.google.com/recaptcha/api.js'></script>
                  <div class="g-recaptcha" data-sitekey="6LeBwhwUAAAAAG1RDj-rS2Wu4WYNoV021q0z-LNY"></div>
                </div>
                <div class="divider"><span>Terms of Service</span></div>
                <label class="custom-control custom-checkbox custom-checkbox-primary custom-checked">
                <input type="checkbox" class="custom-control-input" checked="">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Subscribe to monthly newsletter</span>
              </label>
                <label class="custom-control custom-checkbox custom-checkbox-primary">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Accept <a href="#">terms of service</a></span>
              </label>
                <button type="submit" class="btn btn-primary m-t-10 btn-block">Complete Registration</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <h5>Reset Password</h5>
          <p class="m-b-30">Add your custom component like social button, checkbox or inputs.</p>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Forgotten Password?</h4>
                </div>
                <div class="card-block">
                  <form>
                    <div class="form-group input-icon-left">
                      <i class="fa fa-user"></i>
                      <input type="email" class="form-control form-control-secondary" placeholder="Username">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block m-t-10">Reset Password</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <h6>Forgotten Password?</h6>
              <form class="m-t-15">
                <div class="form-group input-icon-left">
                  <i class="fa fa-user"></i>
                  <input type="email" class="form-control" placeholder="Username">
                </div>
                <button type="submit" class="btn btn-primary btn-shadow btn-block m-t-10">Reset Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <h5 class="m-t-40">Contact Form</h5>
      <p>Use login form to handle user authentication. Add your custom component like social button, checkbox or inputs.</p>
      <div class="row m-t-30">
        <div class="col-lg-6">
          <form method="post">
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
              <b>Well done!</b> You successfully read this important alert message.
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email">
              <small class="form-text">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <select id="subject" class="form-control">
              <option>General</option>
              <option>Partnership</option>
              <option>Report Bug</option>
              <option>Support</option>
            </select>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" rows="4" placeholder="Your message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-shadow">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js"  %}"></script>
</body>
</html>
