<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- plugins css -->
  <link rel="stylesheet" href="{% static "plugins/summernote/summernote-bs4.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="breadcrumbs">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="forums.html">Forums</a></li>
        <li class="active">Forum Post</li>
      </ol>
    </div>
  </section>

  <section class="p-t-40">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div class="forum-headline forum-panel">
            <h5 class="float-left">Forum Post <span>About the topic post subtitle</span></h5>
            <div class="dropdown float-right">
              <a class="btn btn-secondary" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings <i class="fa fa-cog"></i></a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="forum-create.html">Edit Post</a>
                <a class="dropdown-item" href="#">Mute Post</a>
                <a class="dropdown-item" href="forum-create.html">New Post</a>
                <a class="dropdown-item" href="#">Close Thread</a>
              </div>
            </div>
          </div>
          <div class="forum-post">
            <div class="forum-header">
              <div><a href="profile.html"><img src="{% static "img/user/user-3.jpg" %}"></a></div>
              <div>
                <h2 class="forum-title"><a href="profile.html">Clark</a></h2>
                <div class="forum-meta">
                  <span>346 posts</span>
                  <span>Moderator</span>
                </div>
              </div>
              <div>
                #1
                <span>July 28, 2017</span>
              </div>
            </div>
            <div class="forum-body">
              <h5 class="m-b-20">Hi Gamers!</h5>
              <p>Aenean mollis est neque, sed varius mauris pharetra quis. Nullam sed nulla sapien. Morbi eget erat turpis. Integer vulputate finibus gravida. Integer nec tortor faucibus, cursus ligula et, tincidunt orci. Sed consequat mattis libero nec
                mollis. Donec ut nibh sed elit rutrum cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dui velit, luctus id velit in, luctus ultrices odio. Curabitur commodo dapibus nisl, at cursus erat tempus eget. Nulla non orci
                rutrum, pretium justo a, volutpat velit.</p>
              <div class="forum-thumbnail">
                <div class="video-play" data-src="https://www.youtube.com/embed/ST262ZbNcos?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
                  <div class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="https://img.youtube.com/vi/tklQ47Hpfxw/maxresdefault.jpg">
                    <div class="video-play-icon"><i class="fa fa-play"></i></div>
                  </div>
                </div>
              </div>
              <p>Fusce purus nisi, congue vel risus eget, bibendum dignissim nibh. Curabitur suscipit lacinia dolor sed venenatis. Curabitur hendrerit posuere purus eu lobortis. Donec ac magna nec lorem efficitur mattis eu sed orci. Pellentesque vel fringilla
                nunc, vitae lacinia diam. Donec laoreet non arcu eu posuere. Suspendisse feugiat, sapien nec hendrerit eleifend, tortor odio ullamcorper ex, ac maximus dolor erat at ligula.</p>
              <p>Donec ac fermentum justo, vitae volutpat ligula. Duis mollis magna quis risus imperdiet tempor. Etiam risus justo, vestibulum vitae augue a, condimentum dapibus orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
            </div>
            <div class="forum-footer">
              <div class="forum-panel">
                <div class="forum-attachment">
                  <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">gameforest.zip <i class="fa fa-download float-right m-t-5"></i></a>
                  <span>(14.4 MB) Downloaded 1839x times</span>
                </div>
                <div class="forum-users">
                  <h5>Active users in this thread:</h5>
                  <div>
                    <a href="profile.html" data-toggle="tooltip" title="Venom"><img src="{% static "img/user/user-1.jpg" %}" alt="Venom"></a>
                    <a href="profile.html" data-toggle="tooltip" title="Elizabeth"><img src="{% static "img/user/user-2.jpg" %}" alt="Elizabeth"></a>
                    <a href="profile.html" data-toggle="tooltip" title="Clark"><img src="{% static "img/user/user-3.jpg" %}" alt="Clark"></a>
                    <a href="profile.html" data-toggle="tooltip" title="Strange"><img src="{% static "img/user/user-4.jpg" %}" alt="Strange"></a>
                    <a href="profile.html" data-toggle="tooltip" title="Trevor"><img src="{% static "img/user/user-5.jpg" %}" alt="Trevor"></a>
                  </div>
                </div>
              </div>
              <div class="forum-actions">
                <div>
                  <i class="fa fa-clock-o"></i> 3 days ago
                </div>
                <div class="hidden-xs-down">
                  <a href="#"><i class="fa fa-heart-o"></i> 156 likes</a>
                  <a href="#"><i class="fa fa-reply"></i> 24 replies</a>
                  <a href="#"><i class="fa fa-bar-chart"></i> 1921 views</a>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix m-t-30 m-b-20">
            <h5 class="m-t-10 m-b-0 float-left"><i class="fa fa-comment-o m-r-5"></i> Replies (24)</h5>
            <div class="dropdown float-right">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sorted by latest <span class="caret"></span></button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item active" href="#">Latest</a>
                <a class="dropdown-item" href="#">Best</a>
                <a class="dropdown-item" href="#">Oldest</a>
                <a class="dropdown-item" href="#">Random</a>
              </div>
            </div>
          </div>
          <ul>
            <li class="forum-reply">
              <div class="forum-header">
                <div>
                  <a href="profile.html"><img src="{% static "img/user/user-2.jpg" %}" alt=""></a>
                </div>
                <div>
                  <div class="forum-title">
                    <h5><a href="profile.html">Elizabeth</a></h5>
                  </div>
                  <div class="forum-meta">
                    <span>458 posts</span>
                    <span>Member</span>
                    <span><a href="#"><i class="fa fa-mail-reply-all"></i> Reply</a></span>
                  </div>
                </div>
                <div>#2 <span>July 28, 2017</span></div>
              </div>
              <div class="forum-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                <p>Maecenas at tristique dolor, nec condimentum tellus. Fusce in aliquet augue. Sed non rhoncus ante, sed posuere neque. Suspendisse ac maximus arcu, at ornare nulla. Sed metus tellus, lobortis ut dignissim sed, consequat sit amet mi. Duis
                  libero odio, tristique vel tincidunt sit amet, rutrum quis ligula.</p>
              </div>
            </li>
            <li class="forum-reply">
              <div class="forum-header">
                <div>
                  <a href="profile.html"><img src="{% static "img/user/user-1.jpg" %}" alt=""></a>
                </div>
                <div>
                  <div class="forum-title">
                    <h5><a href="profile.html">Venom</a></h5>
                    <span class="badge badge-outline-primary">Admin</span>
                  </div>
                  <div class="forum-meta">
                    <span>59 posts</span>
                    <span>Moderator</span>
                    <span><a href="#"><i class="fa fa-mail-reply-all"></i> Reply</a></span>
                  </div>
                </div>
                <div>#3 <span>July 29, 2017</span></div>
              </div>
              <div class="forum-body">
                <p>Morbi velit diam, convallis dapibus enim ac, condimentum pharetra nunc. Suspendisse potenti. Maecenas eget felis ipsum.</p>
              </div>
            </li>
            <li class="forum-reply">
              <div class="forum-header">
                <div>
                  <a href="profile.html"><img src="{% static "img/user/user-3.jpg" %}" alt=""></a>
                </div>
                <div>
                  <div class="forum-title">
                    <h5><a href="profile.html">Clark</a></h5>
                  </div>
                  <div class="forum-meta">
                    <span>127 posts</span>
                    <span>Member</span>
                    <span><a href="#"><i class="fa fa-mail-reply-all"></i> Reply</a></span>
                  </div>
                </div>
                <div>#4 <span>July 29, 2017</span></div>
              </div>
              <div class="forum-body">
                <p>Curabitur mattis lorem non massa congue faucibus. Morbi cursus posuere turpis. Sed cursus lorem sed libero dignissim, id ullamcorper arcu sodales.</p>
              </div>
            </li>
            <li class="forum-reply">
              <div class="forum-header">
                <div>
                  <a href="profile.html"><img src="{% static "img/user/user-5.jpg" %}" alt=""></a>
                </div>
                <div>
                  <div class="forum-title">
                    <h5><a href="profile.html">Trevor</a></h5>
                  </div>
                  <div class="forum-meta">
                    <span>342 posts</span>
                    <span>Member</span>
                    <span><a href="#"><i class="fa fa-mail-reply-all"></i> Reply</a></span>
                  </div>
                </div>
                <div>#5 <span>July 30, 2017</span></div>
              </div>
              <div class="forum-body">
                <p>Aliquam lorem nunc, auctor et auctor in, fringilla a leo. Maecenas vestibulum efficitur massa et imperdiet. Nunc pharetra ipsum nec mattis rutrum. Proin ac quam ut nulla mattis convallis. In ut enim sodales, ultricies eros eget, accumsan
                  lacus.
                  <p>Fusce venenatis mi mauris, at vehicula diam finibus rutrum. In hac habitasse platea dictumst. Etiam ut ullamcorper lorem, non commodo urna.</p>
              </div>
            </li>
          </ul>

          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="separate"><span>...</span></li>
              <li class="page-item"><a class="page-link" href="#">25</a></li>
              <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
            </ul>
          </nav>

          <h5 class="m-t-60 m-b-20">Reply to this topic</h5>
          <form method="post">
            <div class="summernote"></div>
            <button class="btn btn-primary btn-shadow float-right" type="submit" name="save">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- plugins js -->
  <script src="{% static "plugins/summernote/summernote-bs4.js" %}"></script>
  <script type="text/javascript">
    (function($) {
      "use strict";
      $('.summernote').summernote({
        height: 160,
        toolbar: [
          ['style', ['bold', 'italic', 'underline', 'picture']],
          ['para', ['ul', 'ol', 'paragraph']]
        ]
      });
    })(jQuery);
  </script>
  </script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js" %}"></script>
</body>
</html>
