<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="hero hero-game" style="background-image: url('{% static 'img/hero/hero.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-block">
        <div class="hero-left">
          <h2 class="hero-title">The Witcher 3: Wild Hunt</h2>
          <p>The world is in chaos. The air is thick with tension and the smoke of burnt villages.</p>
          <a class="btn btn-primary btn-lg btn-shadow btn-rounded btn-effect" href="game-post.html" role="button">Read More</a>
          <a class="btn btn-outline-default btn-lg btn-rounded m-l-10" href="#" role="button">Follow Now <i class="fa fa-heart-o"></i></a>
        </div>
        <div class="hero-right">
          <div class="hero-review">
            <span>Gameforest</span>
            <a href="review-post.html" class="chart easypiechart" data-percent="89" data-scale-color="#e3e3e3"><span>89</span>%</a>
          </div>
          <div class="hero-review">
            <span>MetaCritic</span>
            <a href="review-post.html">93</a>
          </div>
          <div class="hero-review">
            <span>Users</span>
            <a href="review-post.html">9.1</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-t-30">
    <div class="container">
      <div class="toolbar-custom">
        <form method="post" class="float-left cold-12 col-sm-6 p-l-0 p-r-10">
          <div class="form-group input-icon-right">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control search-game" placeholder="Search Game...">
          </div>
        </form>
        <div class="dropdown float-left">
          <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">All Platform <i class="fa fa-caret-down"></i></button>
          <div class="dropdown-menu">
            <a class="dropdown-item active" href="#">All Platform</a>
            <a class="dropdown-item" href="#">Playstation 4</a>
            <a class="dropdown-item" href="#">Xbox One</a>
            <a class="dropdown-item" href="#">Origin</a>
            <a class="dropdown-item" href="#">Steam</a>
          </div>
        </div>

        <div class="btn-group float-right m-l-5 hidden-sm-down" role="group">
          <a class="btn btn-default btn-icon" href="#" role="button"><i class="fa fa-th-large"></i></a>
          <a class="btn btn-default btn-icon" href="#" role="button"><i class="fa fa-bars"></i></a>
        </div>

        <div class="dropdown float-right">
          <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Date Added <i class="fa fa-caret-down"></i></button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item active" href="#">Date Added</a>
            <a class="dropdown-item" href="#">Popular</a>
            <a class="dropdown-item" href="#">Newest</a>
            <a class="dropdown-item" href="#">Oldest</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-1.jpg" %}" class="card-img-top" alt="Assassin's Creed Syndicate">
            </a>
              <div class="badge badge-pc">pc</div>
              <div class="card-likes">
                <a href="#">15</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Assassin's Creed Syndicate</a>
              </h4>
              <div class="card-meta">
                <span>June 13, 2017</span>
              </div>
              <p class="card-text">Defeating the corrupt tyrants entrenched there will require not only strength, but leadership.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-2.jpg" %}" class="card-img-top" alt="Rise of the Tomb Raider">
            </a>
              <div class="badge badge-xbox-one">Xbox One</div>
              <div class="card-likes">
                <a href="#">87</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Rise of the Tomb Raider</a>
              </h4>
              <div class="card-meta">
                <span>November 10, 2015</span>
              </div>
              <p class="card-text">Tomb Raider, Lara becomes more than a survivor as she embarks on her first great.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-3.jpg" %}" class="card-img-top" alt="The Witcher 3: Wild Hunt">
            </a>
              <div class="badge badge-ps4">ps4</div>
              <div class="card-likes">
                <a href="#">23</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">The Witcher 3: Wild Hunt</a>
              </h4>
              <div class="card-meta">
                <span>March 15, 2017</span>
              </div>
              <p class="card-text">The world is in chaos. The air is thick with tension and the smoke of burnt villages.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-4.jpg" %}" class="card-img-top" alt="Grand Theft Auto V">
            </a>
              <div class="badge badge-steam">Steam</div>
              <div class="card-likes">
                <a href="#">19</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Grand Theft Auto V</a>
              </h4>
              <div class="card-meta">
                <span>February 2, 2017</span>
              </div>
              <p class="card-text">Trouble taps on your window again with this next chapter in the Grand Theft Auto universe.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-5.jpg" %}" class="card-img-top" alt="Deadpool The Game">
            </a>
              <div class="badge badge-ps4">PS4</div>
              <div class="card-likes">
                <a href="#">36</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Deadpool The Game</a>
              </h4>
              <div class="card-meta">
                <span>Unknown Release Date</span>
              </div>
              <p class="card-text">There are a few important things I need to say before you crack into my insanely sweet game.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-6.jpg" %}" class="card-img-top" alt="Grand Theft Auto Online">
            </a>
              <div class="badge badge-xbox-one">Xbox One</div>
              <div class="card-likes">
                <a href="#">73</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Grand Theft Auto Online</a>
              </h4>
              <div class="card-meta">
                <span>January 16, 2017</span>
              </div>
              <p class="card-text">Grand Theft Auto Online is designed to continually expand and evolve over time.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-7.jpg" %}" class="card-img-top" alt="Uncharted 4: A Thief's End">
            </a>
              <div class="badge badge-ps4">PS4</div>
              <div class="card-likes">
                <a href="#">17</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Uncharted 4: A Thief's End</a>
              </h4>
              <div class="card-meta">
                <span>May 10, 2016</span>
              </div>
              <p class="card-text">Nathan Drake has presumably left the world of fortune hunting behind.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-8.jpg" %}" class="card-img-top" alt="Mass Effect: Andromeda">
            </a>
              <div class="badge badge-xbox-one">Xbox One</div>
              <div class="card-likes">
                <a href="#">31</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Mass Effect: Andromeda</a>
              </h4>
              <div class="card-meta">
                <span>June 14, 2015</span>
              </div>
              <p class="card-text">A whole new galaxy awaits for you to explore. Mass Effect: Andromeda pushes.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-9.jpg" %}" class="card-img-top" alt="Hitman: Absolution">
            </a>
              <div class="badge badge-steam">Steam</div>
              <div class="card-likes">
                <a href="#">58</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Hitman: Absolution</a>
              </h4>
              <div class="card-meta">
                <span>June 10, 2016</span>
              </div>
              <p class="card-text">Hitman Absolution is the 5th installment in the Hitman series where players.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-10.jpg" %}" class="card-img-top" alt="Alien: Isolation">
            </a>
              <div class="badge badge-steam">Steam</div>
              <div class="card-likes">
                <a href="#">34</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Alien: Isolation</a>
              </h4>
              <div class="card-meta">
                <span>October 7, 2015</span>
              </div>
              <p class="card-text">Alien Isolation sees you take on the role of Amanda Ripley as she faces.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-11.jpg" %}" class="card-img-top" alt="Bioshock Infinite">
            </a>
              <div class="badge badge-ps4">PS4</div>
              <div class="card-likes">
                <a href="#">12</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Bioshock Infinite</a>
              </h4>
              <div class="card-meta">
                <span>March 26, 2016</span>
              </div>
              <p class="card-text">BioShock Infinite is a first person shooter where players assume the role of former.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html">
              <img src="{% static "img/game/game-12.jpg" %}" class="card-img-top" alt="Fallout 4">
            </a>
              <div class="badge badge-xbox-one">Xbox One</div>
              <div class="card-likes">
                <a href="#">48</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                <a href="game-post.html">Fallout 4</a>
              </h4>
              <div class="card-meta">
                <span>November 20, 2016</span>
              </div>
              <p class="card-text">As the sole survivor of Vault 111, you enter a world destroyed by nuclear war.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="pagination-results m-t-0">
        <span>Showing 10 to 20 of 48 videos</span>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="separate"><span>...</span></li>
            <li class="page-item"><a class="page-link" href="#">25</a></li>
            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- plugins js -->
  <script src="{% static "plugins/easypiechart/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "plugins/easypiechart/jquery.easypiechart.min.js" %}"></script>
  <script>
    (function($) {
      "use strict";
      // easyPieChart
      $('.chart').easyPieChart({
        barColor: '#5eb404',
        trackColor: '#e3e3e3',
        easing: 'easeOutBounce',
        onStep: function(from, to, percent) {
          $(this.el).find('span').text(Math.round(percent));
        }
      });
      $('.search-game, .navbar-search .form-control').keyup(function() {
        var search = $(this).val().toLowerCase();
        $.each($('.card-title'), function() {
          if ($(this).text().toLowerCase().indexOf(search) === -1) {
            $(this).parent().parent().parent().hide();
          } else {
            $(this).parent().parent().parent().show();
          }
        });
      });
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js" %}"></script>
</body>
</html>
