<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="dropdown dropdown-profile">
                <a href="login.html" data-toggle="dropdown"><img src="{% static "img/user/avatar-sm.jpg" %}" alt=""> <span>Nathan Drake</span></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item active" href="#"><i class="fa fa-user"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-envelope-open"></i> Inbox</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-heart"></i> Games</a>
                  <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
              </li>
              <li class="dropdown dropdown-notification">
                <a href="register.html" data-toggle="dropdown">
                <i class="fa fa-bell"></i>
                <span class="badge badge-danger">2</span>
              </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <h5 class="dropdown-header"><i class="fa fa-bell"></i> Notifications</h5>
                  <div class="dropdown-block">
                    <a class="dropdown-item" href="#">
                    <span class="badge badge-info"><i class="fa fa-envelope-open"></i></span> new email
                    <span class="date">just now</span>
                  </a>
                    <a class="dropdown-item" href="#">
                    <span class="badge badge-danger"><i class="fa fa-thumbs-up"></i></span> liked your post
                    <span class="date">5 mins</span>
                  </a>
                    <a class="dropdown-item" href="#">
                    <span class="badge badge-primary"><i class="fa fa-user-plus"></i></span> friend request
                    <span class="date">2 hours</span>
                  </a>
                    <a class="dropdown-item" href="#">
                    <span class="badge badge-info"><i class="fa fa-envelope"></i></span> new email
                    <span class="date">3 days</span>
                  </a>
                    <a class="dropdown-item" href="#">
                    <span class="badge badge-info"><i class="fa fa-video-camera"></i></span> sent a video
                    <span class="date">5 days</span>
                  </a>
                    <a class="dropdown-item" href="#">
                    <span class="badge badge-danger"><i class="fa fa-thumbs-up"></i></span> liked your post
                    <span class="date">8 days</span>
                  </a>
                  </div>
                </div>
              </li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>

          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="hero hero-profile" style="background-image: url('https://img.youtube.com/vi/D3pYbbA1kfk/maxresdefault.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-block">
        <h5>Nathan Drake</h5>
        <a class="btn btn-primary btn-sm btn-shadow btn-rounded btn-icon btn-add" href="#" data-toggle="tooltip" title="Add friend" role="button"><i class="fa fa-user-plus"></i></a>
      </div>
    </div>
  </section>

  <section class="toolbar toolbar-profile" data-fixed="true">
    <div class="container">
      <div class="profile-avatar">
        <a href="#"><img src="{% static "img/user/avatar.jpg" %}" alt=""></a>
        <div class="sticky">
          <a href="#"><img src="{% static "img/user/avatar-sm.jpg" %}" alt=""></a>
          <div class="profile-info">
            <h5>Nathan Drake</h5>
            <span>@nathan</span>
          </div>
        </div>
      </div>
      <div class="dropdown float-right hidden-md-down">
        <a class="btn btn-secondary btn-icon btn-sm m-l-25 float-right" href="#" data-toggle="dropdown" role="button"><i class="fa fa-cog"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item active" href="#">Setting</a>
          <a class="dropdown-item" href="#">Mail</a>
          <a class="dropdown-item" href="#">Report</a>
          <a class="dropdown-item" href="#">Block</a>
        </div>
      </div>
      <ul class="toolbar-nav hidden-md-down">
        <li class="active"><a href="#">Timeline</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Games (38)</a></li>
        <li><a href="#">Friends (628)</a></li>
        <li><a href="#">Images (23)</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Forums</a></li>
      </ul>
    </div>
  </section>

  <section class="p-y-30">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 hidden-md-down">
          <!-- widget about -->
          <div class="widget widget-about">
            <h5 class="widget-title">About Me</h5>
            <p>I am a frontend developer &amp; web designer. I love to work on creative and standalone projects like gameforest.</p>
            <ul>
              <li><i class="fa fa-clock-o"></i> Joined December 2009</li>
              <li><i class="fa fa-map-marker"></i> United Kingdom</li>
              <li><a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank"><i class="fa fa-chain-broken"></i> Gameforest</a></li>
              <li><a href="https://www.facebook.com/yakuthemes" target="_blank"><i class="fa fa-facebook"></i> yakuthemes</a></li>
            </ul>
          </div>

          <!-- widget friends -->
          <div class="widget widget-friends">
            <h5 class="widget-title">Friends <span>(628)</span></h5>
            <ul>
              <li><a href="#" data-toggle="tooltip" title="Elizabeth"><img src="{% static "img/widget/widget-user-1.jpg" %}" alt=""></a></li>
              <li><a href="#" data-toggle="tooltip" title="Clark"><img src="{% static "img/widget/widget-user-2.jpg" %}" alt=""></a></li>
              <li><a href="#" data-toggle="tooltip" title="Trevor"><img src="{% static "img/widget/widget-user-3.jpg" %}" alt=""></a></li>
              <li><a href="#" data-toggle="tooltip" title="Franklin"><img src="{% static "img/widget/widget-user-4.jpg" %}" alt=""></a></li>
              <li><a href="#" data-toggle="tooltip" title="John"><img src="{% static "img/widget/widget-user-5.jpg" %}" alt=""></a></li>
              <li><a href="#" data-toggle="tooltip" title="Bruce"><img src="{% static "img/widget/widget-user-6.jpg" %}" alt=""></a></li>
              <li><a href="#" data-toggle="tooltip" title="Sherlock"><img src="{% static "img/widget/widget-user-7.jpg" %}" alt=""></a></li>
              <li><a href="#" data-toggle="tooltip" title="Clara"><img src="{% static "img/widget/widget-user-8.jpg" %}" alt=""></a></li>
            </ul>
          </div>

          <!-- Widget Forums -->
          <div class="widget widget-forums">
            <h5 class="widget-title">Recent Forums</h5>
            <ul>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-comment-o"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">What is your favorite game?</a></h5>
                  <span>5 weeks ago</span>
                </div>
              </li>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-comment-o"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">Battlefield 1 multiplayer</a></h5>
                  <span>1 month ago</span>
                </div>
              </li>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-bug"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">Uncharted 4 Bug Reports</a></h5>
                  <span>July 20, 2017</span>
                </div>
              </li>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-envelope-open-o"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">Days Gone is a promising game</a></h5>
                  <span>July 10, 2017</span>
                </div>
              </li>
              <li>
                <div class="forum-icon">
                  <i class="fa fa-comment-o"></i>
                </div>
                <div class="forum-title">
                  <h5><a href="forum-post.html">Q: Black Friday Playstation Sale</a></h5>
                  <span>July 09, 2017</span>
                </div>
              </li>
            </ul>
          </div>

          <!-- Widget Images -->
          <div class="widget widget-images">
            <h5 class="widget-title">Images</h5>
            <ul>
              <li><a href="#"><img src="{% static "img/widget/widget-images-1.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-2.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-3.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-4.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-5.jpg" %}" alt=""></a></li>
              <li><a href="#"><img src="{% static "img/widget/widget-images-6.jpg" %}" alt=""></a></li>
            </ul>
            <a class="" href="#" role="button"></a>
          </div>
        </div>

        <div class="col-lg-9">
          <!-- post -->
          <div class="post post-card post-profile">
            <div class="post-header">
              <div>
                <a href="profile.html">
                <img src="{% static "img/user/avatar-sm.jpg" %}" alt="">
              </a>
              </div>
              <div>
                <h2 class="post-title">
                  <a href="profile.html">Nathan Drake</a>
                </h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i> June 16, 2017</span>
                  <span><a href="#"><i class="fa fa-comment-o"></i> 98 comments</a></span>
                  <span><a href="#"><i class="fa fa-heart-o"></i> 523 likes</a></span>
                </div>
                <div class="dropdown float-right">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Moderate</a>
                    <a class="dropdown-item" href="#">Embed</a>
                    <a class="dropdown-item" href="#">Report</a>
                    <a class="dropdown-item" href="#">Mark as spam</a>
                  </div>
                </div>
              </div>
            </div>
            <p>Injustice 2 is getting a brand new character, and EA reveal the games that they’ll be talking about in their E3 Press Conference! Power up and build the ultimate version of your favorite DC legends in Injustice 2.</p>
            <div class="post-thumbnail">
              <img src="{% static "img/profile/profile-1.jpg" %}" alt="">
            </div>
            <div class="post-footer">
              <a href="#"><i class="fa fa-reply"></i> 34 shares</a>
              <a href="#"><i class="fa fa-comment-o"></i> 98 comments</a>
              <a href="#"><i class="fa fa-heart-o"></i> 523 likes</a>
            </div>
          </div>

          <!-- post -->
          <div class="post post-card post-profile">
            <div class="post-header">
              <div>
                <a href="profile.html">
                <img src="{% static "img/user/user-2.jpg" %}" alt="">
              </a>
              </div>
              <div>
                <h2 class="post-title">
                  <a href="profile.html">Elizabeth</a>
                  <a href="profile.html">Nathan Drake</a>
                </h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i> June 13, 2017</span>
                  <span><a href="#"><i class="fa fa-comment-o"></i> 12 comments</a></span>
                  <span><a href="#"><i class="fa fa-heart-o"></i> 3 likes</a></span>
                </div>
                <div class="dropdown float-right">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Moderate</a>
                    <a class="dropdown-item" href="#">Embed</a>
                    <a class="dropdown-item" href="#">Report</a>
                    <a class="dropdown-item" href="#">Mark as spam</a>
                  </div>
                </div>
              </div>
            </div>
            <p>Ubisoft showed off more of Far Cry 5 at its E3 2017 press conference. The video opened in a church in which armed citizens raised their guns as they sang Amazing Grace. Dan Hay, executive producer for Far Cry 5, then appeared on the stage
              to talk about Hope County.</p>
            <div class="post-thumbnail">
              <div class="video-play" data-src="https://www.youtube.com/embed/Kdaoe4hbMso?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
                <div class="embed-responsive embed-responsive-16by9">
                  <img class="embed-responsive-item" src="https://img.youtube.com/vi/kUKrStkG-hE/maxresdefault.jpg">
                  <div class="video-play-icon">
                    <i class="fa fa-play"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-footer">
              <a href="#"><i class="fa fa-reply"></i> 3 shares</a>
              <a href="#"><i class="fa fa-comment-o"></i> 12 comments</a>
              <a href="#"><i class="fa fa-heart-o"></i> 3 likes</a>
            </div>
          </div>

          <!-- post -->
          <div class="post post-card post-profile">
            <div class="post-header">
              <div>
                <a href="profile.html">
                <img src="{% static "img/user/avatar-sm.jpg" %}" alt="">
              </a>
              </div>
              <div>
                <h2 class="post-title">
                  <a href="profile.html">Nathan Drake</a>
                </h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i> June 10, 2017</span>
                  <span><a href="#"><i class="fa fa-comment-o"></i> 7 comments</a></span>
                  <span><a href="#"><i class="fa fa-heart-o"></i> 18 likes</a></span>
                </div>
                <div class="dropdown float-right">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Moderate</a>
                    <a class="dropdown-item" href="#">Embed</a>
                    <a class="dropdown-item" href="#">Report</a>
                    <a class="dropdown-item" href="#">Mark as spam</a>
                  </div>
                </div>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at faucibus erat. In hac habitasse platea dictumst. Proin faucibus, massa sed condimentum sodales.</p>
            <div class="post-thumbnail">
              <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/312296129&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
            <div class="post-footer">
              <a href="#"><i class="fa fa-reply"></i> 3 shares</a>
              <a href="#"><i class="fa fa-comment-o"></i> 7 comments</a>
              <a href="#"><i class="fa fa-heart-o"></i> 18 likes</a>
            </div>
          </div>

          <!-- post -->
          <div class="post post-card post-profile">
            <div class="post-header">
              <div>
                <a href="profile.html">
                <img src="{% static "img/user/avatar-sm.jpg" %}" alt="">
              </a>
              </div>
              <div>
                <h2 class="post-title">
                  <a href="profile.html">Nathan Drake</a>
                </h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i> June 10, 2017</span>
                  <span><a href="#"><i class="fa fa-comment-o"></i> 21 comments</a></span>
                  <span><a href="#"><i class="fa fa-heart-o"></i> 312 likes</a></span>
                </div>
                <div class="dropdown float-right">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Moderate</a>
                    <a class="dropdown-item" href="#">Embed</a>
                    <a class="dropdown-item" href="#">Report</a>
                    <a class="dropdown-item" href="#">Mark as spam</a>
                  </div>
                </div>
              </div>
            </div>
            <p>The Witcher 3: Wild Hunt is a story-driven, next-generation open world role-playing game, set in a visually stunning fantasy universe, full of meaningful choices and impactful consequences.</p>
            <div class="post-thumbnail">
              <img src="{% static "img/profile/profile-2.jpg" %}" alt="">
            </div>
            <div class="post-footer">
              <a href="#"><i class="fa fa-reply"></i> 27 shares</a>
              <a href="#"><i class="fa fa-comment-o"></i> 21 comments</a>
              <a href="#"><i class="fa fa-heart-o"></i> 312 likes</a>
            </div>
          </div>

          <!-- post -->
          <div class="post post-card post-profile">
            <div class="post-header">
              <div>
                <a href="profile.html">
                <img src="{% static "img/user/avatar-sm.jpg" %}" alt="">
              </a>
              </div>
              <div>
                <h2 class="post-title">
                  <a href="profile.html">Nathan Drake</a>
                </h2>
                <div class="post-meta">
                  <span><i class="fa fa-clock-o"></i> June 09, 2017</span>
                  <span><a href="#"><i class="fa fa-comment-o"></i> 5 comments</a></span>
                  <span><a href="#"><i class="fa fa-heart-o"></i> 6 likes</a></span>
                </div>
                <div class="dropdown float-right">
                  <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Moderate</a>
                    <a class="dropdown-item" href="#">Embed</a>
                    <a class="dropdown-item" href="#">Report</a>
                    <a class="dropdown-item" href="#">Mark as spam</a>
                  </div>
                </div>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at faucibus erat.</p>
            <div class="post-thumbnail">
              <img src="https://maps.googleapis.com/maps/api/staticmap?size=640x150&zoom=13&scale=2&maptype=roadmap&markers=size:mid%7Ccolor:red%7CSan+Francisco,CA&key=AIzaSyCFHwOU3OoTBLDkppUsfRJLWYYq8kdCm28">
            </div>
            <div class="post-footer">
              <a href="#"><i class="fa fa-reply"></i> 3 shares</a>
              <a href="#"><i class="fa fa-comment-o"></i> 3 comments</a>
              <a href="#"><i class="fa fa-heart-o"></i> 6 likes</a>
            </div>
          </div>

          <div class="text-center"><a href="games.html" class="btn btn-primary btn-shadow btn-rounded btn-effect btn-lg m-b-20">Show More</a></div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- plugins js -->
  <script src="{% static "plugins/sticky/jquery.sticky.js" %}"></script>
  <script src="{% static "plugins/lightbox/lightbox.js" %}"></script>
  <script>
    (function($) {
      "use strict";
      // lightbox
      $('[data-lightbox]').lightbox({
        disqus: 'gameforestyakuzieu'
      });
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js" %}"></script>
</body>
</html>
