<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="bg-image bg-image-sm" style="background-image: url('https://img.youtube.com/vi/BhTkoDVgF6s/maxresdefault.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8 col-md-4 mx-auto">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"><i class="fa fa-user-plus"></i> Register a new account</h4>
            </div>
            <div class="card-block">
              <form action="profile.html">
                <a class="btn btn-social btn-google-plus btn-block btn-icon-left" href="" role="button"><i class="fa fa-google-plus"></i> Register with Google Plus</a>
                <div class="divider"><span>or</span></div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-user"></i>
                  <input type="text" class="form-control form-control-secondary" placeholder="Username">
                </div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-envelope"></i>
                  <input type="email" class="form-control form-control-secondary" placeholder="Email Address">
                </div>
                <div class="divider"><span>Security</span></div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-lock"></i>
                  <input type="password" class="form-control form-control-secondary" placeholder="Password">
                </div>
                <div class="form-group input-icon-left m-b-10">
                  <i class="fa fa-unlock"></i>
                  <input type="password" class="form-control form-control-secondary" placeholder="Repeat Password">
                </div>
                <div class="divider"><span>I am not a robot</span></div>
                <div class="g-recaptcha-outer">
                  <script src='https://www.google.com/recaptcha/api.js'></script>
                  <div class="g-recaptcha" data-sitekey="6LeBwhwUAAAAAG1RDj-rS2Wu4WYNoV021q0z-LNY"></div>
                </div>
                <div class="divider"><span>Terms of Service</span></div>
                <label class="custom-control custom-checkbox custom-checkbox-primary custom-checked">
                <input type="checkbox" class="custom-control-input" checked="">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Subscribe to monthly newsletter</span>
              </label>
                <label class="custom-control custom-checkbox custom-checkbox-primary">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Accept <a href="#" data-toggle="modal" data-target="#terms">terms of service</a></span>
              </label>
                <button type="submit" class="btn btn-primary m-t-10 btn-block">Complete Registration</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="terms">
      <div class="modal-dialog modal-top" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fa fa-file-text-o"></i> Terms of Service</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
            <h6>1. Morbi ut pharetra tellus</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lobortis justo vel lorem sagittis, eu bibendum ipsum accumsan. Donec congue eget elit ut posuere. Curabitur congue, enim a viverra ultrices, elit velit auctor neque, eget vehicula
              augue purus et lectus. Mauris cursus ac ex in vehicula. Sed ut sagittis eros. Vivamus accumsan diam vitae lectus consectetur aliquet. Proin varius tempor ullamcorper. Quisque malesuada mollis arcu, in euismod nisi pharetra pellentesque.
              Sed ullamcorper quis dui sed varius. Fusce efficitur augue purus, vitae mattis orci blandit ac. Integer suscipit arcu ac diam tincidunt, sed elementum augue lobortis.</p>
            <p>Pellentesque finibus dui dui, sit amet scelerisque neque venenatis non. Nullam gravida nisi pretium malesuada luctus. Nunc porttitor ipsum a massa gravida congue. Vestibulum dapibus mauris sit amet volutpat faucibus. Nulla lacinia diam sed
              ultricies venenatis. Ut ultricies, urna commodo aliquam molestie, lectus leo efficitur tellus, et aliquam magna magna id est. In euismod ac magna quis imperdiet.</p>
            <p>Aliquam ornare elit neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi ut pharetra tellus. Vestibulum a dui nisl. Sed commodo sodales dolor, et malesuada nulla consectetur vitae. Quisque nec neque ac tellus auctor pellentesque
              vel eleifend urna. Phasellus non urna id tellus fringilla hendrerit. Quisque vel mauris nisi. Mauris nec odio vitae sapien sodales lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam sit amet nisi quis ex pretium
              congue id id magna. Aenean dictum justo sit amet augue mollis ullamcorper. Aliquam mattis vel mauris et elementum. Morbi et risus quis nisl ullamcorper pulvinar eget et erat.</p>
            <p>Ut viverra urna non orci interdum, in viverra urna pretium. Suspendisse potenti. Mauris et massa a enim lobortis facilisis. In hac habitasse platea dictumst. Ut varius erat vulputate libero sagittis, vitae feugiat nibh malesuada. Sed vel lacinia
              urna. Curabitur eget dui nisi.</p>
            <p>Vivamus orci felis, varius tempor lacus eu, scelerisque bibendum nunc. Vestibulum rutrum, enim quis maximus pretium, nisi est condimentum magna, venenatis dignissim magna nulla quis felis. Quisque id tellus nec mauris sagittis mattis non et
              quam. Etiam posuere, tellus sed tincidunt egestas, tortor orci interdum risus, nec egestas dolor tortor non turpis. Curabitur in tellus laoreet, congue eros a, bibendum tortor. Nulla in facilisis libero, sit amet sagittis tellus. Aliquam
              nec pulvinar velit, mattis pharetra urna. Donec et tincidunt libero. Duis at nisi in neque vulputate tempus. Curabitur et lobortis lacus. In sagittis egestas lorem, nec bibendum lacus maximus sed.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js"  %}"></script>
</body>
</html>
