<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- plugins css -->
  <link rel="stylesheet" href="{% static "plugins/select2/css/select2.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/flatpickr/flatpickr.min.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="hero hero-review" style="background-image: url('https://i.ytimg.com/vi/D3pYbbA1kfk/maxresdefault.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-block">
        <div class="chart easypiechart m-b-20" data-percent="85" data-scale-color="#e3e3e3"><span>85</span>%</div>
        <h2 class="hero-title">Uncharted 4: A Thief's End Review</h2>
        <p>Uncharted 4: A Thief's End will explore what it means when Drake is forced back into the world of thieves.</p>
        <a class="btn btn-primary btn-lg btn-shadow btn-rounded m-t-20" href="review-post.html" role="button">Read Review</a>
      </div>
    </div>
  </section>

  <section class="toolbar toolbar-links">
    <div class="container">
      <h5>Recent Reviews <span>(34)</span></h5>
      <div class="dropdown float-right">
        <a class="btn btn-secondary btn-icon float-right" href="#" data-toggle="dropdown" role="button"><i class="fa fa-cog"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item active" href="#">Popular</a>
          <a class="dropdown-item" href="#">Recent</a>
          <a class="dropdown-item" href="#">Platforms</a>
        </div>
      </div>
      <ul class="toolbar-nav hidden-md-down m-r-25">
        <li><a href="game-post.html">Articles</a></li>
        <li class="active"><a href="reviews.html">Reviews</a></li>
        <li><a href="gallery.html">Images</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Streams</a></li>
        <li><a href="#">Cheats &amp; Guides</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="toolbar-custom">
            <a class="btn btn-default btn-icon btn-sm m-r-10 float-left hidden-sm-down" href="#" data-toggle="tooltip" title="refresh" data-placement="bottom" role="button"><i class="fa fa-refresh"></i></a>
            <div class="dropdown float-left">
              <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">All Platform <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item active" href="#">All Platform</a>
                <a class="dropdown-item" href="#">Playstation 4</a>
                <a class="dropdown-item" href="#">Xbox One</a>
                <a class="dropdown-item" href="#">Origin</a>
                <a class="dropdown-item" href="#">Steam</a>
              </div>
            </div>

            <a class="btn btn-default btn-icon btn-sm m-l-10 float-right hidden-sm-down" href="#" data-toggle="tooltip" title="list" data-placement="bottom" role="button"><i class="fa fa-bars"></i></a>
            <div class="dropdown float-right">
              <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Date Added <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item active" href="#">Popular</a>
                <a class="dropdown-item" href="#">Newest</a>
                <a class="dropdown-item" href="#">Oldest</a>
                <a class="dropdown-item" href="#">Date Added</a>
              </div>
            </div>
          </div>

          <!-- post -->
          <div class="post post-review">
            <div class="post-thumbnail">
              <a href="review-post.html">
              <img src="{% static "img/review/review-list-1.jpg" %}" alt="Assassin's Creed: The Ezio Collection">
              <span class="badge badge-success">7.5</span>
            </a>
            </div>
            <div class="post-block">
              <h2 class="post-title"><a href="review-post.html">Assassin's Creed: The Ezio Collection Review</a></h2>
              <div class="post-meta">
                <span><i class="fa fa-clock-o"></i> July 29, 2017 by <a href="profile.html">Constantine</a></span>
                <span><a href="review-post.html#comments"><i class="fa fa-comment-o"></i> 98 comments</a></span>
              </div>
              <p>Unity shies away from having a vast collection of ancillary characters, focusing instead upon its lead Arno and his love interest Elise. With fewer of those secondary characters around.</p>
            </div>
          </div>

          <!-- post -->
          <div class="post post-review">
            <div class="post-thumbnail">
              <a href="review-post.html">
              <img src="{% static "img/review/review-list-2.jpg" %}" alt="Grand Theft Auto V">
              <span class="badge badge-warning">5.9</span>
            </a>
            </div>
            <div class="post-block">
              <h2 class="post-title"><a href="review-post.html">Grand Theft Auto V Review</a></h2>
              <div class="post-meta">
                <span><i class="fa fa-clock-o"></i> July 18, 2017 by <a href="profile.html">Venom</a></span>
                <span><a href="review-post.html#comments"><i class="fa fa-comment-o"></i> 9 comments</a></span>
              </div>
              <p>I have just spent a half-hour planning the perfect heist. I'm going in smart, knocking out the guards and the staff behind the delicate jewellery counters of the store with a carefully placed smoke bomb.</p>
            </div>
          </div>

          <!-- post -->
          <div class="post post-review">
            <div class="post-thumbnail">
              <a href="review-post.html">
              <img src="{% static "img/review/review-list-3.jpg" %}" alt="Uncharted 4: A Thief's End Review">
              <span class="badge badge-success">8.2</span>
            </a>
            </div>
            <div class="post-block">
              <h2 class="post-title"><a href="review-post.html">Uncharted 4: A Thief's End Review</a></h2>
              <div class="post-meta">
                <span><i class="fa fa-clock-o"></i> July 05, 2017 by <a href="profile.html">Lobo</a></span>
                <span><a href="review-post.html#comments"><i class="fa fa-comment-o"></i> 13 comments</a></span>
              </div>
              <p>This anecdote sets the tone for a powerful game about loss, betrayal, regret, and redemption. In both its momentous set pieces and its intimate, personal moments, Uncharted 4 drives its narrative.</p>
            </div>
          </div>

          <!-- post -->
          <div class="post post-review">
            <div class="post-thumbnail">
              <a href="review-post.html">
              <img src="{% static "img/review/review-list-4.jpg" %}" alt="The Witcher 3: Blood and Wine Review">
              <span class="badge badge-danger">2.4</span>
            </a>
            </div>
            <div class="post-block">
              <h2 class="post-title"><a href="review-post.html">The Witcher 3: Blood and Wine Review</a></h2>
              <div class="post-meta">
                <span><i class="fa fa-clock-o"></i> June 24, 2017 by <a href="profile.html">YAKUZI</a></span>
                <span><a href="review-post.html#comments"><i class="fa fa-comment-o"></i> 17 comments</a></span>
              </div>
              <p>As for the PC version, with rising concern regarding how the game looked at early showings versus how it looks at release, it’s vital to note that The Witcher 3 on PC looks absolutely wonderful.</p>
            </div>
          </div>

          <!-- post -->
          <div class="post post-review">
            <div class="post-thumbnail">
              <a href="review-post.html">
              <img src="{% static "img/review/review-list-5.jpg" %}" alt="BioShock: Infinite Review">
              <span class="badge badge-success">8.3</span>
            </a>
            </div>
            <div class="post-block">
              <h2 class="post-title"><a href="review-post.html">BioShock: Infinite Review</a></h2>
              <div class="post-meta">
                <span><i class="fa fa-clock-o"></i> June 16, 2017 by <a href="profile.html">YAKUZI</a></span>
                <span><a href="review-post.html#comments"><i class="fa fa-comment-o"></i> 23 comments</a></span>
              </div>
              <p>The buildings of that 1893 exposition were part of an area known as The White City, and here, too, Columbia lives up to the name of its inspiration--not just in the whiteness of its buildings.</p>
            </div>
          </div>

          <!-- post -->
          <div class="post post-review">
            <div class="post-thumbnail">
              <a href="review-post.html">
              <img src="{% static "img/review/review-list-6.jpg" %}" alt="The Last of Us: Remastered Review">
              <span class="badge badge-danger">3.4</span>
            </a>
            </div>
            <div class="post-block">
              <h2 class="post-title"><a href="review-post.html">The Last of Us: Remastered Review</a></h2>
              <div class="post-meta">
                <span><i class="fa fa-clock-o"></i> June 13, 2017 by <a href="profile.html">Venom</a></span>
                <span><a href="review-post.html#comments"><i class="fa fa-comment-o"></i> 16 comments</a></span>
              </div>
              <p>Naughty Dog's acclaimed action game has made its way to the PlayStation 4 as The Last of Us Remastered, and if you've played the game on the PlayStation 3, you'll probably notice.</p>
            </div>
          </div>

          <!-- post -->
          <div class="post post-review">
            <div class="post-thumbnail">
              <a href="review-post.html">
              <img src="{% static "img/review/review-list-7.jpg" %}" alt="Injustice 2 Review">
              <span class="badge badge-warning">5.4</span>
            </a>
            </div>
            <div class="post-block">
              <h2 class="post-title"><a href="review-post.html">Injustice 2 Review</a></h2>
              <div class="post-meta">
                <span><i class="fa fa-clock-o"></i> June 10, 2017 by <a href="profile.html">Elizabeth</a></span>
                <span><a href="review-post.html#comments"><i class="fa fa-comment-o"></i> 23 comments</a></span>
              </div>
              <p>The cast sees the return of familiar faces--the likes of The Flash and Green Lantern--but also introduces unlikely fan favorites such as the blood-barfing Red Lantern Atrocitus and the plant-based behemoth, Swamp Thing.</p>
            </div>
          </div>

          <div class="pagination-results m-t-0 m-b-40">
            <span>Showing 10 to 20 of 48 results</span>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="separate"><span>...</span></li>
                <li class="page-item"><a class="page-link" href="#">25</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
              </ul>
            </nav>
          </div>

          <h6 class="subtitle">Recommended Posts</h6>
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="card card-widget m-b-0">
                <div class="card-img">
                  <a href="blog-post-carousel.html"><img src="{% static "img/blog/blog-related-1.jpg" %}" alt="Injustice 2 Story Mode Superman Ending"></a>
                </div>
                <div class="card-block">
                  <h4 class="card-title"><a href="blog-post-carousel.html">Injustice 2 Story Mode Clark Ending Scene</a></h4>
                  <div class="card-meta"><span><i class="fa fa-clock-o"></i> July 21, 2017</span></div>
                  <p>Injustice 2's Story Mode features hours of cinematic cutscenes.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="card card-widget m-b-0">
                <div class="card-img">
                  <a href="blog-post-disqus.html"><img src="{% static "img/blog/blog-related-3.jpg" %}" alt="An Extra Week Of Double Rewards In GTA V"></a>
                </div>
                <div class="card-block">
                  <h4 class="card-title"><a href="blog-post-disqus.html">An Extra Week Of Double Rewards In GTA V</a></h4>
                  <div class="card-meta"><span><i class="fa fa-clock-o"></i> June 18, 2017</span></div>
                  <p>Grand Theft Auto V players are getting an extra week to earn.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="card card-widget m-b-0">
                <div class="card-img">
                  <a href="blog-post-hero.html"><img src="{% static "img/blog/blog-related-4.jpg" %}" alt="BioShock: The Collection PC System Requirements Revealed"></a>
                </div>
                <div class="card-block">
                  <h4 class="card-title"><a href="blog-post-hero.html">BioShock: The Collection PC System Requirements Revealed</a></h4>
                  <div class="card-meta"><span><i class="fa fa-clock-o"></i> June 09, 2017</span></div>
                  <p>2K revealed the PC system requirements for BioShock.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- sidebar -->
        <div class="col-lg-4">
          <div class="sidebar">
            <!-- widget search -->
            <div class="widget widget-search">
              <form>
                <div class="form-group input-icon-right">
                  <i class="fa fa-search"></i>
                  <input type="text" class="form-control" placeholder="Search Review...">
                </div>

                <div class="form-group">
                  <label for="select">Platforms:</label>
                  <select id="select" class="select2 form-control" multiple="multiple">
                  <option value="ps4" selected>Playstation 4</option>
                  <option value="xbox-one" selected>Xbox One</option>
                  <option value="steam">Steam</option>
                  <option value="origin">Origin</option>
                  <option value="uplay">Uplay</option>
                </select>
                </div>

                <div class="form-group">
                  <label for="select">Genre:</label>
                  <select class="select2 form-control">
                  <option value="">All genres</option>
                  <option value="4">Action</option>
                  <option value="5">Adventure</option>
                  <option value="6">Arcade</option>
                  <option value="7">Baseball</option>
                  <option value="8">Basketball</option>
                  <option value="9">Beat-&#039;Em-Up</option>
                  <option value="10">Billiards</option>
                  <option value="11">Bowling</option>
                  <option value="12">Boxing</option>
                  <option value="13">Card Game</option>
                  <option value="14">Compilation</option>
                  <option value="15">Cricket</option>
                  <option value="16">Defense</option>
                  <option value="17">Driving/Racing</option>
                  <option value="18">Edutainment</option>
                  <option value="19">Fighting</option>
                  <option value="20">First-Person</option>
                  <option value="21">Fitness</option>
                  <option value="22">Fixed-Screen</option>
                  <option value="23">Flight</option>
                  <option value="24">Football (American)</option>
                  <option value="25">Free-to-Play</option>
                  <option value="26">Gambling</option>
                  <option value="27">Golf</option>
                  <option value="28">Hidden Object</option>
                  <option value="29">Hockey</option>
                  <option value="30">Hunting/Fishing</option>
                  <option value="31">Light-Gun</option>
                  <option value="32">Management</option>
                  <option value="33">Matching/Stacking</option>
                  <option value="34">Miscellaneous</option>
                  <option value="35">MMO</option>
                  <option value="36">MOBA</option>
                  <option value="37">Music/Rhythm</option>
                  <option value="38">On-Rails</option>
                  <option value="39">Open-World</option>
                  <option value="40">Party/Minigame</option>
                  <option value="41">Pinball</option>
                  <option value="42">Platformer</option>
                  <option value="43">Puzzle</option>
                  <option value="44">Real-Time</option>
                  <option value="45">Roguelike</option>
                  <option value="46">Role-Playing</option>
                  <option value="47">Scrolling</option>
                  <option value="48">Shoot-&#039;Em-Up</option>
                  <option value="49">Shooter</option>
                  <option value="50">Simulation</option>
                  <option value="51">Skateboarding/Skating</option>
                  <option value="52">Snowboarding/Skiing</option>
                  <option value="53">Soccer</option>
                  <option value="54">Sports</option>
                  <option value="55">Strategy</option>
                  <option value="56">Survival</option>
                  <option value="57">Tactical</option>
                  <option value="58">Team-Based</option>
                  <option value="59">Tennis</option>
                  <option value="60">Text-Based</option>
                  <option value="61">Third-Person</option>
                  <option value="62">Track &amp; Field</option>
                  <option value="63">Trivia/Board Game</option>
                  <option value="64">Turn-Based</option>
                  <option value="65">Vehicular Combat</option>
                  <option value="66">Wakeboarding/Surfing</option>
                  <option value="67">Wrestling</option>
                  <option value="68">VR</option>
                </select>
                </div>

                <div class="form-group">
                  <label for="date">Release Date:</label>
                  <div class="input-icon-right">
                    <i class="fa fa-clock-o"></i>
                    <input type="text" class="form-control" id="date" placeholder="Select date">
                  </div>
                </div>
              </form>
            </div>

            <!-- widget post  -->
            <div class="widget widget-post">
              <h5 class="widget-title">Recommends</h5>
              <a href="review-post.html"><img src="https://i1.ytimg.com/vi/4BLkEJu9szM/mqdefault.jpg" alt=""></a>
              <h4><a href="review-post.html">Titanfall 2's Trophies Only Have 3 Earned Through Multiplayer</a></h4>
              <span><i class="fa fa-clock-o"></i> June 12, 2017</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed ante facilisis efficitur.</p>
            </div>

            <!-- widget facebook -->
            <div class="widget">
              <h5 class="widget-title">Follow Us on Facebook</h5>
              <div id="fb-root"></div>
              <script async="" src="https://www.google-analytics.com/analytics.js"></script>
              <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8"></script>
              <script>
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s);
                  js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              </script>
              <div class="fb-page" data-href="https://www.facebook.com/yakuthemes" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
            </div>

            <!-- widget post -->
            <div class="widget widget-post m-b-0">
              <h5 class="widget-title">Popular on Gameforest</h5>
              <a href="review-post.html"><img src="{% static "img/blog/blog-widget-popular-1.jpg" %}" alt=""></a>
              <h4><a href="review-post.html">Red Dead Redemption Being Modded Into GTA5 Multiplayer</a></h4>
              <span><i class="fa fa-clock-o"></i> June 16, 2017</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed anter.</p>
              <ul class="widget-list">
                <li>
                  <div class="widget-img"><a href="blog-post.html"><img src="{% static "img/blog/blog-widget-1.jpg" %}" alt=""></a></div>
                  <div>
                    <h4><a href="blog-post.html">Dead Island 2 and Escape Impressions</a></h4>
                    <span>June 16, 2017</span>
                  </div>
                </li>
                <li>
                  <div class="widget-img"><a href="blog-post.html"><img src="{% static "img/blog/blog-widget-2.jpg" %}" alt=""></a></div>
                  <div>
                    <h4><a href="blog-post.html">How to Finish Mafia 3 With All of Your Underbosses</a></h4>
                    <span>May 30, 2017</span>
                  </div>
                </li>
                <li>
                  <div class="widget-img"><a href="blog-post.html"><img src="{% static "img/blog/blog-widget-3.jpg" %}" alt=""></a></div>
                  <div>
                    <h4><a href="blog-post.html">Spider-Man Spin-Off, Venom, Gets Release Date</a></h4>
                    <span>June 10, 2017</span>
                  </div>
                </li>
                <li>
                  <div class="widget-img"><a href="blog-post.html"><img src="{% static "img/blog/blog-widget-4.jpg" %}" alt=""></a></div>
                  <div>
                    <h4><a href="blog-post.html">Is Ghost Recon: Wildlands Worth Your Time?</a></h4>
                    <span>June 13, 2017</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- plugins js -->
  <script src="{% static "plugins/select2/js/select2.min.js" %}"></script>
  <script src="{% static "plugins/flatpickr/flatpickr.min.js" %}"></script>
  <script src="{% static "plugins/easypiechart/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "plugins/easypiechart/jquery.easypiechart.min.js" %}"></script>
  <script>
    (function($) {
      "use strict";
      // select2
      $('.select2').select2();

      // flatpickr
      $("#date").flatpickr();

      // easyPieChart
      $('.chart').easyPieChart({
        barColor: '#5eb404',
        trackColor: '#e3e3e3',
        easing: 'easeOutBounce',
        onStep: function(from, to, percent) {
          $(this.el).find('span').text(Math.round(percent));
        }
      });
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js" %}"></script>
</body>
</html>
