<!DOCTYPE html>
{% load static %}
{% extends "index.html" %}
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Gaming Theme HTML</title>
  <!-- vendor css -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
  <!-- plugins css -->
  <link rel="stylesheet" href="{% static "plugins/select2/css/select2.min.css" %}" />
  <!-- theme css -->
  <link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/custom.css" %}" />
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
            <nav class="nav">
              <ul>
                <li class="has-dropdown">
                  <a href="index.html">Home</a>
                  <ul>
                    <li><a href="home-magazine.html">Home Magazine</a></li>
                    <li><a href="home-blog.html">Home Blog</a></li>
                    <li><a href="index.html">Home Games</a></li>
                    <li><a href="home-videos.html">Home Videos</a></li>
                    <li><a href="home-streamer.html">Home Streamer</a></li>
                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu mega-games">
                  <a href="games.html">Games</a>
                  <ul>
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                            <span>Jun 29, 2019</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}"  alt="Injustice 2"></a>
                              <span class="badge badge-steam">Steam</span>
                            </div>
                            <h4><a href="game-post.html">Injustice 2</a></h4>
                            <span>June 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}"  alt="Bioshock: Infinite"></a>
                              <span class="badge badge-xbox-one">Xbox One</span>
                            </div>
                            <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                            <span>May 16, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                              <span class="badge badge-ps4">PS4</span>
                            </div>
                            <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                          <div class="col">
                            <div class="img">
                              <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                              <span class="badge badge-pc">PC</span>
                            </div>
                            <h4><a href="game-post.html">Hitman Absolution</a></h4>
                            <span>May 10, 2017</span>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="blog.html">Blog</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="blog.html">Blog Default</a>
                      <ul>
                        <li><a href="blog.html">Blog Lists</a></li>
                        <li><a href="blog-sidebar.html">Sidebar</a></li>
                        <li><a href="blog-post.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="blog-medium.html">Blog Medium</a>
                      <ul>
                        <li><a href="blog-medium.html">Blog Lists</a></li>
                        <li><a href="blog-post-medium.html">Single Post</a></li>
                      </ul>
                    </li>
                    <li><a href="blog-cards.html">Blog Cards</a></li>
                    <li><a href="blog-columns.html">Blog Columns</a></li>
                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                    <li class="has-dropdown">
                      <a href="blog-post.html">Blog Single</a>
                      <ul>
                        <li><a href="blog-post.html">Image Post</a></li>
                        <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                        <li><a href="blog-post-video.html">Video Post</a></li>
                        <li><a href="blog-post-audio.html">Audio Post</a></li>
                        <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                        <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="videos.html">Videos</a></li>
                <li class="has-dropdown">
                  <a href="forums.html">Forums</a>
                  <ul>
                    <li><a href="forums.html">Forum</a></li>
                    <li><a href="forum-topic.html">Forum Topic</a></li>
                    <li><a href="forum-post.html">Forum Post</a></li>
                    <li><a href="forum-create.html">Forum Create</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="has-dropdown">
                      <a href="games.html">Games</a>
                      <ul>
                        <li><a href="games.html">Game Lists</a></li>
                        <li><a href="game-post.html">Game Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="reviews.html">Reviews</a>
                      <ul>
                        <li><a href="reviews.html">Review Lists</a></li>
                        <li><a href="review-post.html">Review Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="forums.html">Forums</a>
                      <ul>
                        <li><a href="forums.html">Forum</a></li>
                        <li><a href="forum-topic.html">Forum Topic</a></li>
                        <li><a href="forum-post.html">Forum Post</a></li>
                        <li><a href="forum-create.html">Forum Create</a></li>
                      </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="has-dropdown">
                      <a href="videos.html">Videos</a>
                      <ul>
                        <li><a href="videos.html">Video Lists</a></li>
                        <li><a href="video-post.html">Video Post</a></li>
                      </ul>
                    </li>
                    <li class="has-dropdown">
                      <a href="#">User</a>
                      <ul>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="login-2.html">Login 2</a></li>
                        <li><a href="register.html">Register</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="full-width.html">Full Width</a></li>
                    <li><a href="blank-page.html">Blank Page</a></li>
                  </ul>
                </li>
                <li class="has-dropdown mega-menu">
                  <a href="#">Components</a>
                  <ul style="background-image: url('{% static 'img/menu/mega-menu.png' %}');">
                    <li>
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <span class="title">General</span>
                            <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                            <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                            <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                            <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                            <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                            <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                            <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                            <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                          </div>
                          <div class="col">
                            <span class="title">Buttons &amp; Icons</span>
                            <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                            <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                            <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                            <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                            <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                            <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                            <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                            <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                          </div>
                          <div class="col">
                            <span class="title">Elements</span>
                            <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                            <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                            <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                            <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                            <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                            <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                            <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                            <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                          </div>
                          <div class="col">
                            <span class="title">Forms &amp; Info</span>
                            <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                            <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                            <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                            <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                            <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                            <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                            <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li class="hidden-xs-down"><a href="login.html">Login</a></li>
              <li class="hidden-xs-down"><a href="register.html">Register</a></li>
              <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <div class="container">
          <form method="post">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-times close"></i>
          </form>
        </div>
      </div>
    </div>
  </header>
  <!-- /header -->

  <!-- main -->
  <section class="hero hero-review" style="background-image: url('https://i.ytimg.com/vi/D3pYbbA1kfk/maxresdefault.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-block">
        <div class="chart easypiechart m-b-20" data-percent="85" data-scale-color="#e3e3e3"><span>85</span>%</div>
        <h2 class="hero-title">Uncharted 4: A Thief's End Review</h2>
        <p>Uncharted 4: A Thief's End will explore what it means when Drake is forced back into the world of thieves.</p>
        <a class="btn btn-primary btn-lg btn-shadow btn-rounded m-t-20" href="https://www.youtube.com/watch?v=6cXyQg_5uoc" data-lightbox role="button">Watch Review <i class="fa fa-play"></i></a>
        <a class="btn btn-outline-default btn-lg btn-shadow btn-rounded m-l-10 m-t-20" href="register.html" role="button">Write Review <i class="fa fa-pencil"></i></a>
      </div>
    </div>
  </section>

  <section class="toolbar toolbar-links" data-fixed="true">
    <div class="container">
      <h5>Uncharted 4: A Thief's End Review</h5>
      <ul class="toolbar-nav hidden-md-down">
        <li><a href="game-post.html">Articles</a></li>
        <li class="active"><a href="reviews.html">Reviews</a></li>
        <li><a href="gallery.html">Images</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Streams</a></li>
        <li><a href="#">Cheats &amp; Guides</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
    </div>
  </section>

  <section class="p-t-35 p-b-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-11">
          <!-- post -->
          <div class="post post-single">
            <h6 class="subtitle">Uncharted 4’s companion characters never break</h6>
            <p>Nathan Drake is lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum nisl eget bibendum vestibulum. Cras quis eros ultricies, laoreet sem vel, faucibus libero. Fusce suscipit, tortor at ultrices pretium, tortor tortor
              pellentesque nunc, vel ultricies erat eros mattis magna. Quisque et purus dolor. Cras interdum ac est ut tristique. Sed nec ligula eu erat vehicula molestie ut sed ipsum. Donec vulputate malesuada risus, eu interdum orci venenatis eget.
              Integer in convallis augue. Nullam sollicitudin lobortis orci, eget venenatis leo. Mauris auctor ipsum nunc, eu luctus diam accumsan id. Phasellus hendrerit sem in consectetur auctor.Phasellus laoreet ligula non sapien gravida, in eleifend
              massa faucibus. Ut molestie eleifend ipsum. Curabitur id nisi purus. Aenean egestas gravida purus, eu pulvinar tellus bibendum non.</p>
            <p>Morbi fringilla tempor felis, a porttitor neque pulvinar eget. Maecenas quis faucibus nunc, sit amet malesuada velit. Quisque orci metus, porttitor sed ullamcorper nec, elementum sit amet felis. Sed at lacinia sem, in imperdiet lacus. In hendrerit
              justo ex, eu pharetra justo molestie id.</p>
            <h5>Its fantasy medieval world is populated</h5>
            <p>Dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
            <div class="post-thumbnail">
              <a href="/gallery/uncharted-4" data-src="https://i.ytimg.com/vi/JbgJA-r86HQ/maxresdefault.jpg" data-lightbox="gallery">
              <img src="https://i.ytimg.com/vi/JbgJA-r86HQ/maxresdefault.jpg" alt="">
            </a>
              <a href="/gallery/uncharted-4" data-src="https://i.ytimg.com/vi/hh5HV4iic1Y/maxresdefault.jpg" data-lightbox="gallery" class="hidden"></a>
            </div>
            <p>Maecenas viverra, mi non consectetur scelerisque, erat enim interdum erat, imperdiet elementum sapien metus a odio. Sed sapien sapien, tincidunt quis fringilla vel, eleifend tincidunt nunc. Fusce dapibus leo vestibulum, scelerisque metus nec,
              imperdiet tortor.usce et urna vel neque fermentum consectetur. Donec vel convallis elit. Nulla et odio a magna aliquam varius a vel ex. Cras sed dolor sapien. Sed sit amet interdum sapien, ut laoreet dui. Fusce vulputate consequat mi et
              rutrum.</p>
            <h6 class="subtitle m-t-50">The elegance of its combat is at times awe-inspiring</h6>
            <p>Proin elit lorem, laoreet in dictum quis, feugiat a tellus. Cras lacinia, ex non laoreet rutrum, ante turpis lacinia ipsum, ut placerat augue metus vitae justo. Nulla euismod euismod consectetur. Curabitur mollis nec lacus ac vulputate. Donec
              aliquam metus lobortis, volutpat turpis aliquam, gravida sem. Ut placerat mattis enim, in ultrices turpis tempor luctus. Nulla porta, felis at accumsan dapibus, velit mi faucibus nibh, ac mattis neque ex nec felis. Ut tortor dolor, aliquet
              a tempus nec, placerat vel felis.</p>
            <blockquote class="blockquote">
              <p>“This is a pretty fast price drop for a game that released last month and has garnered some respectable ratings.”</p>
            </blockquote>
            <p>Fusce non tellus eget tortor maximus sodales. Donec sit amet condimentum est, non pellentesque justo. Donec ac arcu placerat, dignissim magna non, varius mauris. Morbi ac mi arcu. Ut vitae dignissim diam. Curabitur non gravida arcu. Pellentesque
              sit amet consequat lectus. Fusce tempor rhoncus euismod. Vestibulum massa massa, ultrices eget nulla vel, ullamcorper aliquet tellus. Fusce leo magna, convallis eget auctor luctus, consequat ac velit. Mauris bibendum eu magna vitae dictum.Donec
              cursus, enim eget dictum posuere, velit ipsum mattis orci, non facilisis lorem libero ac dui. Vivamus fringilla ante tortor, ac imperdiet massa scelerisque et. </p>
            <p>Morbi fringilla tempor felis, a porttitor neque pulvinar eget. Maecenas quis faucibus nunc, sit amet malesuada velit. Quisque orci metus, porttitor sed ullamcorper nec, elementum sit amet felis. Sed at lacinia sem, in imperdiet lacus. In hendrerit
              justo ex, eu pharetra justo molestie id. Etiam tempus dolor euismod felis pretium, sit amet porta nisl luctus. Integer lobortis enim lacinia risus ultrices lobortis. Duis purus lectus, elementum id lectus.</p>
            <div class="video-play m-b-30 m-t-30" data-src="https://www.youtube.com/embed/d5nfXqffvyc?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
              <div class="embed-responsive embed-responsive-16by9">
                <img class="embed-responsive-item" src="https://img.youtube.com/vi/ZmVQeK5V_zE/maxresdefault.jpg">
                <div class="video-caption">
                  <h5>Uncharted 4: A Thief's End - Madagascar Preview</h5>
                  <span class="length">4:05</span>
                </div>
                <div class="video-play-icon">
                  <i class="fa fa-play"></i>
                </div>
              </div>
            </div>
            <p>Curabitur a enim leo. Curabitur quis tincidunt quam. Donec faucibus nunc faucibus, interdum leo sed, ultrices diam. Donec id fringilla turpis. Pellentesque ante sem, finibus et sem aliquam, facilisis porta odio. Ut in auctor lacus, nec luctus
              massa. Proin posuere neque placerat, varius quam id, molestie quam. Nunc lacus orci, egestas vel lectus quis, bibendum bibendum ante. Donec lacinia sapien lorem, sit amet venenatis elit dapibus vitae. Pellentesque vehicula dictum lacus eu
              ultrices. Maecenas semper laoreet est, at cursus justo cursus et.</p>
            <p>Quisque mollis enim eu dui tincidunt ultrices. Maecenas eget metus sem. Vivamus imperdiet dignissim ex, vitae mattis purus faucibus at. Maecenas vel ex ullamcorper, accumsan sapien in, pharetra nibh.</p>
          </div>
          <!-- /.post -->
          <div class="post-actions no-border">
            <div class="post-tags">
              <a href="#">#playstation-4</a>
              <a href="#">#uncharted-4</a>
              <a href="#">#nathan-drake</a>
              <a href="#">#open-world</a>
              <a href="#">#action</a>
            </div>
            <div class="social-share">
              <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Share on Facebook" data-placement="bottom" role="button"><i class="fa fa-facebook"></i></a>
              <span>5.345k</span>
              <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Share on Twitter" data-placement="bottom" role="button"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Share on Google Plus" data-placement="bottom" role="button"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>

        <div class="col-1 hidden-md-down">
          <!-- widget share -->
          <div class="widget widget-share" data-fixed="widget">
            <div class="widget-block">
              <span>5.345k</span>
              <a class="btn btn-social btn-facebook btn-circle" href="#" data-toggle="tooltip" title="Share on Facebook" data-placement="right" role="button"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-social btn-twitter btn-circle" href="#" data-toggle="tooltip" title="Share on Twitter" data-placement="right" role="button"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social btn-google-plus btn-circle" href="#" data-toggle="tooltip" title="Share on Google Plus" data-placement="right" role="button"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-image bg-image-sm" style="background-image: url('https://i.ytimg.com/vi/1bR7uzsswhQ/maxresdefault.jpg');">
    <div class="overlay-dark"></div>
    <div class="container">
      <div class="review">
        <div class="row">
          <div class="col-12 col-sm-10">
            <h2 class="review-title">Uncharted 4: A Thief's End</h2>
            <p>Melee-focused action games have spent years enacting the fantasy of engaging in armed combat, fortunately sparing us the hours. Fortunately, For Honor comes with a suite of options and modes to get you up to speed in each class relatively
              quickly.</p>
          </div>
          <div class="col-12 col-sm-2">
            <div class="chart easypiechart" data-percent="85" data-scale-color="#e3e3e3"><span>85</span>%</div>
          </div>
        </div>
        <div class="row m-t-20">
          <div class="col-lg-5">
            <p class="m-b-10">Gameplay <span class="float-right">80%</span></p>
            <div class="progress progress-loaded">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">80% Complete</span>
              </div>
            </div>
            <p class="m-b-10">Graphics <span class="float-right">55%</span></p>
            <div class="progress progress-loaded">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">55% Complete</span>
              </div>
            </div>
            <p class="m-b-10">Sounds <span class="float-right">32%</span></p>
            <div class="progress progress-loaded">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">32% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="review-good">
                  <h5>Positive:</h5>
                  <p>Stunning action sequences</p>
                  <p>Nuanced, emotional characters</p>
                  <p>Gorgeous world, animation</p>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="review-bad">
                  <h5>Negative:</h5>
                  <p>Inconsistent cover system</p>
                  <p>Combat sometimes becomes too chaotic</p>
                  <p>Fighting against more than one opponent</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-t-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div id="comments" class="comments anchor">
            <div class="comments-header">
              <h5><i class="fa fa-comment-o"></i> Comments (5)</h5>
              <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sorted by Best <span class="caret"></span></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item active" href="#">Best</a>
                  <a class="dropdown-item" href="#">Latest</a>
                  <a class="dropdown-item" href="#">Oldest</a>
                  <a class="dropdown-item" href="#">Random</a>
                </div>
              </div>
            </div>
            <a class="btn btn-primary text-left m-t-15 btn-block" href="#comments" role="button"><i class="fa fa-spinner fa-pulse m-r-5"></i> Load more 4 comments</a>
            <ul>
              <li>
                <div class="comment">
                  <div class="comment-avatar">
                    <a href="profile.html"><img src="{% static "img/user/user-1.jpg" %}" alt=""></a>
                    <a class="badge badge-primary" href="profile.html" data-toggle="tooltip" data-placement="bottom" title="Add as friend"><i class="fa fa-user-plus"></i></a>
                  </div>
                  <div class="comment-post">
                    <div class="comment-header">
                      <div class="comment-author">
                        <h5><a href="profile.html">Venom</a></h5>
                        <span>Member</span>
                      </div>
                      <div class="comment-action">
                        <div class="dropdown float-right">
                          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Moderate</a>
                            <a class="dropdown-item" href="#">Embed</a>
                            <a class="dropdown-item" href="#">Report</a>
                            <a class="dropdown-item" href="#">Mark as spam</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>Awesome these are news we were looking for, thanks DICE best thing i've heard today, but more game modes are welcome.</p>
                    <div class="comment-footer">
                      <ul>
                        <li><a href="#"><i class="fa fa-heart-o"></i> Like</a></li>
                        <li><a href="#"><i class="icon-reply"></i> Reply</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> 3 hours ago</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <ul>
                  <li>
                    <div class="comment">
                      <div class="comment-avatar"><img src="{% static "img/user/user-2.jpg" %}" alt=""></div>
                      <div class="comment-post">
                        <div class="comment-header">
                          <div class="comment-author">
                            <h5><a href="profile.html">Elizabeth</a></h5>
                            <span>Member</span>
                          </div>
                          <div class="comment-action">
                            <div class="dropdown float-right">
                              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Moderate</a>
                                <a class="dropdown-item" href="#">Embed</a>
                                <a class="dropdown-item" href="#">Report</a>
                                <a class="dropdown-item" href="#">Mark as spam</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Please also consider replacing Battles with Blast (in Skirmish): it can use the same AI and would be much more fun (tokens are annoying and maps are limited)!</p>
                        <div class="comment-footer">
                          <ul>
                            <li><a href="#"><i class="fa fa-heart-o"></i> Like</a></li>
                            <li><a href="#"><i class="icon-reply"></i> Reply</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i> 24 minutes ago</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="comment">
                  <div class="comment-avatar"><a href="profile.html"><img src="{% static "img/user/user-3.jpg" %}" alt=""></a></div>
                  <div class="comment-post">
                    <div class="comment-header">
                      <div class="comment-author">
                        <h5>
                          <a href="profile.html">Clark</a>
                          <span class="badge badge-outline-primary">Admin</span>
                        </h5>
                      </div>
                      <div class="comment-action">
                        <div class="comment-action">
                          <div class="dropdown float-right">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Moderate</a>
                              <a class="dropdown-item" href="#">Embed</a>
                              <a class="dropdown-item" href="#">Report</a>
                              <a class="dropdown-item" href="#">Mark as spam</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>Thank you this news and I can't wait for offline content to drop next week.</p>
                    <div class="comment-footer">
                      <ul>
                        <li><a href="#"><i class="fa fa-heart-o"></i> Like</a></li>
                        <li><a href="#"><i class="icon-reply"></i> Reply</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> June 16, 2017 8:13pm</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="comment">
                  <div class="comment-avatar"><a href="profile.html"><img src="{% static "img/user/user-4.jpg" %}" alt=""></a></div>
                  <div class="comment-post">
                    <div class="comment-header">
                      <div class="comment-author">
                        <h5><a href="profile.html">Strange</a></h5>
                        <span>Member</span>
                      </div>
                      <div class="comment-action">
                        <div class="comment-action">
                          <div class="dropdown float-right">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Moderate</a>
                              <a class="dropdown-item" href="#">Embed</a>
                              <a class="dropdown-item" href="#">Report</a>
                              <a class="dropdown-item" href="#">Mark as spam</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>To all those reading who have not yet bought this game yet, and are a fan of Star Wars - Don't listen to the nay-sayers on these forums, this game is simply amazing!</p>
                    <div class="comment-footer">
                      <ul>
                        <li><a href="#"><i class="fa fa-heart-o"></i> Like</a></li>
                        <li><a href="#"><i class="icon-reply"></i> Reply</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> June 11, 2017 14:26am</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <form>
              <h5>Leave a comment</h5>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Your Comment"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-shadow">Submit Comment</button>
            </form>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="sidebar">
            <!-- widget post  -->
            <div class="widget widget-post">
              <h5 class="widget-title">Recommends</h5>
              <a href="review-post.html"><img src="https://i1.ytimg.com/vi/4BLkEJu9szM/mqdefault.jpg" alt=""></a>
              <h4><a href="review-post.html">Titanfall 2's Trophies Only Have 3 Earned Through Multiplayer</a></h4>
              <span><i class="fa fa-clock-o"></i> June 12, 2017</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed ante facilisis efficitur.</p>
            </div>
            <!-- /widget post -->

            <!-- widget facebook -->
            <div class="widget">
              <h5 class="widget-title">Follow Us on Facebook</h5>
              <div id="fb-root"></div>
              <script async="" src="https://www.google-analytics.com/analytics.js"></script>
              <script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8"></script>
              <script>
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s);
                  js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              </script>
              <div class="fb-page" data-href="https://www.facebook.com/yakuthemes" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
            </div>
            <!-- /widget facebook -->

            <!-- widget video -->
            <div class="widget widget-video">
              <h5 class="widget-title">New Video</h5>
              <div class="widget-img">
                <a href="blog-post-video.html">
                <img src="https://i1.ytimg.com/vi/neIfY3VoPXo/mqdefault.jpg" alt="">
              </a>
                <span>2:49</span>
                <a class="video-play-icon" href="blog-post-video.html">
                <i class="fa fa-play"></i>
              </a>
              </div>
              <h4>
                <a href="blog-post-video.html">The Witcher 3: Wild Hunt The Sword Of Destiny Gameplay Trailer</a>
              </h4>
              <span><i class="fa fa-clock-o"></i> June 12, 2017</span>
              <span><i class="fa fa-eye"></i> 723x</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /main -->

  <!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">About Gameforest</h4>
          <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded package.</p>
          <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section or build your own so easily.</p>
        </div>
        <div class="col-sm-12 col-md-3">
          <h4 class="footer-title">Platform</h4>
          <div class="row">
            <div class="col">
              <ul>
                <li><a href="#">Playstation 4</a></li>
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PC</a></li>
                <li><a href="#">Steam</a></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li><a href="games.html">Games</a></li>
                <li><a href="reviews.html">Reviews</a></li>
                <li><a href="videos.html">Videos</a></li>
                <li><a href="forums.html">Forums</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-social">
          <a href="https://facebook.com/yakuthemes" target="_blank" data-toggle="tooltip" title="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/yakuthemes" target="_blank" data-toggle="tooltip" title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://steamcommunity.com/id/yakuzi" target="_blank" data-toggle="tooltip" title="steam"><i class="fa fa-steam"></i></a>
          <a href="https://www.twitch.tv/" target="_blank" data-toggle="tooltip" title="twitch"><i class="fa fa-twitch"></i></a>
          <a href="https://www.youtube.com/user/1YAKUZI" target="_blank" data-toggle="tooltip" title="youtube"><i class="fa fa-youtube"></i></a>
        </div>
        <p>Copyright &copy; 2017 <a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank">Gameforest</a>. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->

  <!-- vendor js -->
  <script src="{% static "plugins/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "plugins/popper/popper.min.js" %}"></script>
  <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

  <!-- plugins js -->
  <script src="{% static "plugins/select2/js/select2.min.js" %}"></script>
  <script src="{% static "plugins/sticky/jquery.sticky.js" %}"></script>
  <script src="{% static "plugins/lightbox/lightbox.js" %}"></script>
  <script src="{% static "plugins/easypiechart/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "plugins/easypiechart/jquery.easypiechart.min.js" %}"></script>
  <script>
    (function($) {
      "use strict";
      // select2
      $('.select2').select2({
        minimumResultsForSearch: -1
      });

      // easyPieChart
      $('.chart').easyPieChart({
        barColor: '#5eb404',
        trackColor: '#e3e3e3',
        easing: 'easeOutBounce',
        onStep: function(from, to, percent) {
          $(this.el).find('span').text(Math.round(percent));
        }
      });
      // lightbox
      $('[data-lightbox]').lightbox();
    })(jQuery);
  </script>

  <!-- theme js -->
  <script src="{% static "js/theme.min.js" %}"></script>
</body>
</html>
