{% load static %}

<!-- meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Gameforest - Gaming Theme HTML</title>
<!-- vendor css -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}" />
<link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="{% static "plugins/animate/animate.min.css" %}" />
<!-- plugins css -->
<link rel="stylesheet" href="{% static "plugins/owl-carousel/css/owl.carousel.min.css" %}" />
<!-- theme css -->
<link rel="stylesheet" href="{% static "css/theme.min.css" %}" />
<link rel="stylesheet" href="{% static "css/custom.css" %}" />