{% load static %}

<!-- header -->
<header id="header">
    <div class="container">
        <div class="navbar-backdrop">
            <div class="navbar">
                <div class="navbar-left">
                    <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
                    <a href="index.html" class="logo"><img src="{% static "img/logo.png" %}" alt="Gameforest - Game Theme HTML"></a>
                    <nav class="nav">
                        <ul>
                            <li class="has-dropdown">
                                <a href="index.html">Home</a>
                                <ul>
                                    <li><a href="home-magazine.html">Home Magazine</a></li>
                                    <li><a href="home-blog.html">Home Blog</a></li>
                                    <li><a href="index.html">Home Games</a></li>
                                    <li><a href="home-videos.html">Home Videos</a></li>
                                    <li><a href="home-streamer.html">Home Streamer</a></li>
                                    <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown mega-menu mega-games">
                                <a href="games.html">Games</a>
                                <ul>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="game-post.html"><img src="{% static "img/menu/menu-1.jpg" %}" alt="Last of Us: Part 2"></a>
                                                        <span class="badge badge-ps4">PS4</span>
                                                    </div>
                                                    <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                                                    <span>Jun 29, 2019</span>
                                                </div>
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="game-post.html"><img src="{% static "img/menu/menu-2.jpg" %}" alt="Injustice 2"></a>
                                                        <span class="badge badge-steam">Steam</span>
                                                    </div>
                                                    <h4><a href="game-post.html">Injustice 2</a></h4>
                                                    <span>June 10, 2017</span>
                                                </div>
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="game-post.html"><img src="{% static "img/menu/menu-3.jpg" %}" alt="Bioshock: Infinite"></a>
                                                        <span class="badge badge-xbox-one">Xbox One</span>
                                                    </div>
                                                    <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                                                    <span>May 16, 2017</span>
                                                </div>
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="game-post.html"><img src="{% static "img/menu/menu-4.jpg" %}" alt="Batman: Arkham Knight"></a>
                                                        <span class="badge badge-ps4">PS4</span>
                                                    </div>
                                                    <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                                                    <span>May 10, 2017</span>
                                                </div>
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="game-post.html"><img src="{% static "img/menu/menu-5.jpg" %}" alt="Bioshock: Infinite"></a>
                                                        <span class="badge badge-pc">PC</span>
                                                    </div>
                                                    <h4><a href="game-post.html">Hitman Absolution</a></h4>
                                                    <span>May 10, 2017</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="blog.html">Blog</a>
                                <ul>
                                    <li class="has-dropdown">
                                        <a href="blog.html">Blog Default</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Lists</a></li>
                                            <li><a href="blog-sidebar.html">Sidebar</a></li>
                                            <li><a href="blog-post.html">Single Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="blog-medium.html">Blog Medium</a>
                                        <ul>
                                            <li><a href="blog-medium.html">Blog Lists</a></li>
                                            <li><a href="blog-post-medium.html">Single Post</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-cards.html">Blog Cards</a></li>
                                    <li><a href="blog-columns.html">Blog Columns</a></li>
                                    <li><a href="blog-timeline.html">Blog Timeline</a></li>
                                    <li class="has-dropdown">
                                        <a href="blog-post.html">Blog Single</a>
                                        <ul>
                                            <li><a href="blog-post.html">Image Post</a></li>
                                            <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                                            <li><a href="blog-post-video.html">Video Post</a></li>
                                            <li><a href="blog-post-audio.html">Audio Post</a></li>
                                            <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                                            <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="videos.html">Videos</a></li>
                            <li class="has-dropdown">
                                <a href="forums.html">Forums</a>
                                <ul>
                                    <li><a href="forums.html">Forum</a></li>
                                    <li><a href="forum-topic.html">Forum Topic</a></li>
                                    <li><a href="forum-post.html">Forum Post</a></li>
                                    <li><a href="forum-create.html">Forum Create</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Pages</a>
                                <ul>
                                    <li class="has-dropdown">
                                        <a href="games.html">Games</a>
                                        <ul>
                                            <li><a href="games.html">Game Lists</a></li>
                                            <li><a href="game-post.html">Game Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="reviews.html">Reviews</a>
                                        <ul>
                                            <li><a href="reviews.html">Review Lists</a></li>
                                            <li><a href="review-post.html">Review Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="forums.html">Forums</a>
                                        <ul>
                                            <li><a href="forums.html">Forum</a></li>
                                            <li><a href="forum-topic.html">Forum Topic</a></li>
                                            <li><a href="forum-post.html">Forum Post</a></li>
                                            <li><a href="forum-create.html">Forum Create</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li class="has-dropdown">
                                        <a href="videos.html">Videos</a>
                                        <ul>
                                            <li><a href="videos.html">Video Lists</a></li>
                                            <li><a href="video-post.html">Video Post</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">User</a>
                                        <ul>
                                            <li><a href="profile.html">Profile</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="login-2.html">Login 2</a></li>
                                            <li><a href="register.html">Register</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="faq.html">Faq</a></li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="full-width.html">Full Width</a></li>
                                    <li><a href="blank-page.html">Blank Page</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown mega-menu">
                                <a href="#">Components</a>
                                <ul style="background-image: url('{%static 'img/menu/mega-menu.png' % }');">
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="title">General</span>
                                                    <a href="components-typography.html"><i class="fa fa-text-width"></i> Typography</a>
                                                    <a href="components-utilities.html"><i class="fa fa-medkit"></i> Utilities</a>
                                                    <a href="components-alerts.html"><i class="fa fa-bell-o"></i> Alerts</a>
                                                    <a href="components-badges.html"><i class="fa fa-bookmark-o"></i> Badges</a>
                                                    <a href="components-columns.html"><i class="fa fa-columns"></i> Columns</a>
                                                    <a href="components-pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a>
                                                    <a href="components-popovers.html"><i class="fa fa-hdd-o"></i> Popovers &amp; Tooltips</a>
                                                    <a href="components-media-player.html"><i class="fa fa-film"></i> Media Player</a>
                                                </div>
                                                <div class="col">
                                                    <span class="title">Buttons &amp; Icons</span>
                                                    <a href="components-buttons.html"><i class="fa fa-hand-pointer-o"></i> Buttons</a>
                                                    <a href="components-dropdowns.html"><i class="fa fa-magnet"></i> Dropdowns</a>
                                                    <a href="components-icons.html"><i class="fa fa-smile-o"></i> Icons</a>
                                                    <a href="components-social.html"><i class="fa fa-facebook"></i> Social</a>
                                                    <a href="components-hero.html"><i class="fa fa-thumb-tack"></i> Hero</a>
                                                    <a href="components-cards.html"><i class="fa fa-sticky-note-o"></i> Cards</a>
                                                    <a href="components-widgets.html"><i class="fa fa-th-large"></i> Widgets</a>
                                                    <a href="components-notifications.html"><i class="fa fa-snowflake-o"></i> Notifications</a>
                                                </div>
                                                <div class="col">
                                                    <span class="title">Elements</span>
                                                    <a href="components-progress-bars.html"><i class="fa fa-battery-3"></i> Progress Bars</a>
                                                    <a href="components-modals.html"><i class="fa fa-window-maximize"></i> Modals</a>
                                                    <a href="components-lightbox.html"><i class="fa fa-clone"></i> Lightbox</a>
                                                    <a href="components-charts.html"><i class="fa fa-bar-chart"></i> Charts</a>
                                                    <a href="components-tables.html"><i class="fa fa-table"></i> Tables</a>
                                                    <a href="components-data-tables.html"><i class="fa fa-list-alt"></i> Data Tables</a>
                                                    <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                                                    <a href="components-accordions.html"><i class="fa fa-th-list"></i> Accordions</a>
                                                </div>
                                                <div class="col">
                                                    <span class="title">Forms &amp; Info</span>
                                                    <a href="components-form-controls.html"><i class="fa fa-pencil"></i> Form Controls</a>
                                                    <a href="components-form-plugins.html"><i class="fa fa-calendar-o"></i> Form Plugins</a>
                                                    <a href="components-form-layouts.html"><i class="fa fa-file-o"></i> Form Layouts</a>
                                                    <a href="components-text-editor.html"><i class="fa fa-file-text"></i> Text Editor</a>
                                                    <a href="components-carousel.html"><i class="fa fa-picture-o"></i> Carousel</a>
                                                    <a href="components-google-maps.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                                                    <a href="components-promo-boxes.html"><i class="fa fa-unlink"></i> Promo Boxes</a>
                                                    <a href="components-video-background.html"><i class="fa fa-video-camera"></i> Video Background</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="nav navbar-right">
                    <ul>
                        <li class="hidden-xs-down"><a href="login.html">Login</a></li>
                        <li class="hidden-xs-down"><a href="register.html">Register</a></li>
                        <li><a data-toggle="search"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-search">
            <div class="container">
                <form method="post">
                    <input type="text" class="form-control" placeholder="Search...">
                    <i class="fa fa-times close"></i>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- /header -->