<!DOCTYPE html>

<html lang="en">
    <head>
        {% include '../particles/head.html' %}

        {% block head_assets %}
        {% endblock %}
    </head>
    <body class="fixed-header">
        {% include '../particles/header.html' %}

        {% block content %}
        {% endblock %}

        {% include '../particles/footer.html' %}
        {% include '../particles/script.html' %}

        {% block script_assets %}
        {% endblock %}
    </body>
</html>
